@media (max-width: 1024px) {
	.container{
		width: 90%;
	}
	.profile-info{
		padding: 20px 30px 50px 30px;
	}
}
@media (max-width: 980px) {
	.works .projects .workItem{
		width: 100%;
	}
	.language{
		margin-right: 15px;
		width: 85px;
		height: 85px;
	}
}
@media (max-width: 850px) {
	.container{
		flex-direction: column;
		width: 70%;
	}
	.resume{
		margin-top: 20px;
	}
	.lines{
		display: none;
	}
	.languages{
		justify-content: center;
	}
	.language{
		margin: 0 auto;
	}
}
@media(max-width: 768px) {
	.container{
		width: 85%;
	}
	.resume-wrap{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 565px) {
	.logo-img{
		width: 70px;
		height: 70px;
	}
	.logo-lines{
		margin-left: 8px;
		margin-right: 8px;
	}
}
@media (max-width: 495px) {
	.resume-wrap{
		padding: 15px;
	}
	.list-item{
		padding-left: 25px;
	}
	.logo{
		display: none;
	}
	.container{
		min-width: 290px;
	}
	.name{
		letter-spacing: normal;
		margin-top: 20px;
	}
	progress{
		width: 40%;
	}
}
@media (max-width: 440px) {
	.profile-wrap .profile-photo img{
		height: 235px;
	}
	.works .projects .workItem .itemWrap p{
		display: none;
	}
}
@media (max-width: 400px) {
	.skills-list__item{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	progress{
		width: 100%;
		margin-top: 10px;
	}
	.resume{
		padding: 15px;
	}
}
