@media (max-width: 830px){
	.header h1{
		font-size: 40px;
		line-height: 50px;
	}
	.header h2{
		font-size: 15px;
		margin-top: 20px;
	}
	.section1 .year-list h2{
		font-size: 55px;
		margin-bottom: 0;
	}
	.section1 .year-list h3{
		font-size: 30px;
	}
	.section1 .year-list h4{
		font-size: 15px;
	}
	.section2 a{
	    display: block;
	    width: 175px;
	    margin: 20px 0;
	}
	.section8 a{
	    display: block;
	    width: 175px;
	    margin: 20px 0;
	}
}
@media (max-width: 650px){
	.section1 .year-list{
		padding: 40px 80px;
		width: 100%;
    	margin: auto;
	}
	.section5 .show{
		max-width: 100%;
	}
}
@media (max-width: 480px){
	h2{
		font-size: 20px;
	}
	.header h1{
		font-size: 25px;
		line-height: 35px;
	}
	.header h2{
		font-size: 12px;
		margin-top: 10px;
	}
	.section1 h3{
		font-size: 18px;
	}
	.section1 p{
		font-size: 13px;
		line-height: 18px;
	}
	.section1{
		padding-bottom: 75px;
	}
	.section2 h3{
		font-size: 15px;
	}
	.section2 a,
	.section8 a{
		font-size: 14px;
		padding: 10px 20px;
		width: 160px;
	}
	.section3{
		padding: 75px 0;
	}
	.section3 .card{
		padding: 40px 55px;
	}
	.section3 .card h3{
		font-size: 18px;
		line-height: 20px;
	}
	.section5{
		padding: 75px 0;
	}
	.section5 h3{
		font-size: 18px;
	}
	.section6{
		padding: 75px 0;
	}
	.section7{
		padding: 75px 0;
	}
	.section7 .owl-carousel .review h3{
		font-size: 18px;
		line-height: 22px;
	}
	.section8 h3{
		font-size: 15px;
	}
	.section9{
		padding: 75px 0;
	}
	.section9 .item h3{
		font-size: 18px;
		margin-bottom: 15px;
	}
	.section9 .item p{
		font-size: 15px;
		line-height: 20px;
	}
	.section9 .item span{
		font-size: 18px;
		line-height: 20px;
	}
}