h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
p,a{
	font-family: 'Open-sans', sans-serif;
	font-weight: 400;
}
h2{
	font-size: 36px;
}
li{
	list-style: none;
}

/* ----------------------------- */
.header{
	background: url(../img/background.jpeg) no-repeat center;
	position: relative;
}
.header .gradient{
	background: rgba(64, 65, 73, 0.9);
}
.header .logo img{
	display: block;
	width: 60px;
	height: 60px;
	transition: .5s;
	cursor: pointer;
}
.header .logo img:hover{
	transform: rotate(90deg);
}
.header .button-block{
	position: relative;
    width: 100%;
    height: 50px;
    display: block;
}
.header .menu-button{
	display: flex;
	flex-direction: column;
	background-color: #F7654A;
	width: 50px;
	height: 50px;
	padding: 11px 12px;
	margin-left: auto;
	justify-content: space-around;
	cursor: pointer;
	position: absolute;
    right: 0;
    transition: .5s;
}
.header .menu-button.active{
	right: 52vw;
	position: fixed;
	z-index: 1;
}
.header .menu-button span{
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
}
.header .menu-button span:before{
	content: '';
	display: block;
	height: 2px;
	background: #fff;
	width: 26px;
    top: 8px;
    position: absolute;
    transition: .5s;
}
.header .menu-button span:after{
	content: '';
	display: block;
	height: 2px;
	background: #fff;
	width: 26px;
    top: -8px;
    position: absolute;
    transition: .5s;
}
.header .menu-button span{
	display: block;
	height: 2px;
	background: #fff;
    position: relative;
    width: 26px;
}
.header .menu-button.active span{
	height: 0;
}
.header .menu-button.active span:before{
	transform: rotate(45deg);
	top: 0;
}
.header .menu-button.active span:after{
	transform: rotate(-45deg);
	top: 0;
}
.header h1{
	line-height: 95px;
	font-size: 64px;
	letter-spacing: 2%;
	color: #fff;
	margin-top: 120px;
}
.header h2{
	line-height: 27px;
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 260px;
	color: #fff;
}
.header #nav{
	position: fixed;
	transform: translateX(500px);
	background: rgba(0,0,0,.85);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50vw;
	right: 0;
	top: 0;
	z-index: 10;
	transition: .5s;
}
.header #nav.active{
	transform: translateX(0px);
}
.header #nav li > a{
	color: #fff;
	font-size: 20px;
	transition: .5s;
	display: block;
}
.header #nav li > a:hover{
	text-decoration: none;
	transform: translateX(15px);
}
.header #nav li > a:before{
	opacity: 0;
	content: '-';
	position: relative;
	left: -10px;
	transition: .5s;
}
.header #nav li > a:hover:before{
	opacity: 1;
}
/* HEADER END */
/* SECTION 1 */
.section1{
	background: #E5E5E5;
	padding-bottom: 150px;
}
.section1 .year-list{
	background: #F7F7F7;
	padding: 57px 130px;
	position: relative;
	top: -125px;
}
.section1 .year-list h2{
	font-style: medium;
	font-size: 72px;
	color: #F7654A;
}
.section1 .year-list h3{
	margin-top: 25px;
	margin-bottom: 10px;
	color: #000;
	font-size: 36px;
}
.section1 .year-list h4{
	font-size: 18px;
}
.section1 h2{
	margin-bottom: 35px;
}
.section1 .item .img{
	position: relative;
}
.section1 .item .img img{
	width: 100%;
}
.section1 .item .img .imgWrapp{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.section1 .item .img .imgWrapp h3{
	color: #fff;
}
.section1 .item .img:hover .imgWrapp{
	opacity: 1;
}
.section1 .underline{
	width: 56px;
	height: 6px;
	margin-top: 45px;
	margin-bottom: 6px;
	background: #F7654A;
}
.section1 h3{
	font-size: 24px;
	line-height: 36px;
	color: #404149;
}
.section1 p{
	line-height: 22px;
	color: #999;
}
/* SECTION 1 END */
/* SECTION 2 */
.section2{
	background: #F7654A;
	padding: 30px 0;
	color: #fff;
}
.section2 a{
	color: #000;
	background: #fff;
	padding: 14px 30px;
	font-size: 16px;
	box-sizing: border-box;
	transition: .5s;
	border: 1px solid rgba(0,0,0,0);
}
.section2 a>i{
	margin-right: 5px;
}
.section2 a:hover{
	background: #F7654A;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
}
/* SECTION 2 END */
/* SECTION 3 */
.section3{
	padding: 150px 0;
}
.section3 h2{
	line-height: 53px;
	margin-bottom: 68px;
	color: #000;
}
.section3 .card{
	padding: 59px 75px;
	border: 0;
	background: #F7F7F7;
	margin: 15px 0 15px 0;
	transition: .5s;
	cursor: pointer;
}
.section3 .card i{
	font-size: 48px;
	color: #F7654A;
	margin: 0 auto 30px auto;
}
.section3 .card h3{
	font-size: 21px;
	line-height: 31px;
	transition: .5s;
}
.section3 .card:hover{
	transform: scale(1.05) translateY(-10px);
	background: #DDDDDD;
}
.section3 .card:hover i{
	color: #F77E4A;
}
.section3 .card:hover h3{
	line-height: 25px;
}
/* SECTION 3 END*/
/* SECTION 4 */
.section4 .item{
	position: relative;
}
.section4 .item img{
	width: 100%;
}
.section4 .item .imgWrapp{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    opacity: 0;
    z-index: 2;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section4 .item .imgWrapp h3{
	color: #fff;
	transform: translateY(-25px);
	transition: .5s;
}
.section4 .item .imgWrapp:hover{
	opacity: 1;
}
.section4 .item .imgWrapp:hover h3{
	transform: translateY(0);
}
/* SECTION 4 END */
/* SECTION 5 */
.section5{
	padding: 150px 0;
	background: #fff;
}
.section5 .show{
	max-width: 50vw;
}
.section5 h2{
	margin-bottom: 50px;
}
.section5 h3{
	font-size: 24px;
	color: #F7654A;
}
.section5 h3>i{
	margin-right: 10px;
}
.section5 .click h3{
	cursor: pointer;
}
.section5 .click p{
	transform: scaleX(0);
	display: none;
	color: #999999;
}
.section5 .click i{
	transition: .5s;
}
.section5 .click i.rotate1{
	transform: rotate(90deg);
}
/* SECTION 5 END */
/* SECTION 6 */
.section6{
	background: #404149;
	padding: 100px 0;
}
.section6 h2{
	margin-bottom: 60px;
	color: #fff;
}
.section6 .owl-carousel img{
	width: 170px;
	height: auto;
	margin: auto;
}
/* SECTION 6 END */
/* SECTION 7 */
.section7{
	background: #fff;
	padding: 150px 0;
}
.section7 h2{
	margin-bottom: 64px;
}
.section7 .owl-carousel .review .card{
	border: 0;
	background: #F7F7F7;
	padding: 10px 30px 38px 30px;
	margin-bottom: 25px;
}
.section7 .owl-carousel .review .card span{
	font-family: 'Oswald', sans-serif;
	font-size: 96px;
	color: #F7654A;
	line-height: 120px;
	margin-bottom: -30px;
}
.section7 .owl-carousel .review .card p{
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #999999;
}
.section7 .owl-carousel .review h3{
	font-size: 21px;
	line-height: 31px;
}
.section7 .owl-carousel .review h3>span{
	color: #F7654A;
}
/* SECTION 7 END */
/* SECTION 8 */
.section8{
	background: #F7654A;
	padding: 30px 0;
	color: #fff;
}
.section8 a{
	color: #000;
	background: #fff;
	padding: 14px 30px;
	font-size: 16px;
	box-sizing: border-box;
	transition: .5s;
	border: 1px solid rgba(0,0,0,0);
}
.section8 a>i{
	margin-right: 5px;
}
.section8 a:hover{
	background: #F7654A;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
}
/* SECTION 8 END */
/* SECTION 9 */
.section9{
	padding: 100px 0px 150px 0px;
}
.section9 h2{
	margin-bottom: 60px;
	line-height: 53px;
}
.section9 .item{
	text-align: center;
	margin-bottom: 20px;
}
.section9 .item h3{
	color: #999999;
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 24px;
}
.section9 .item p{
	margin: 0;
	font-size: 24px;
	line-height: 36px;
	font-family: 'oswald';
}
.section9 .item span{
	font-family: 'oswald';
	font-size: 24px;
	line-height: 36px;
	color: #F7654A;
}
.section9 .item img{
	height: 35px;
	margin: auto;
	display: block;
}
/* SECTION 9 END */
/* FOOTER */
.footer{
	padding: 30px 0;
	background: #404149;
	color: #fff;
}
.footer a{
	color: #fafafa;
	display: inline-block;
	transition: .3s;
	font-weight: 700;
}
.footer a:hover{
	transform: scale(1.1) translateX(10px);
	border: 0;
	text-decoration: none;
	color: #dfdfdf;
	font-weight: 700;
}