body{
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.customSlider{
    max-height: 100vh;
    max-width: 750px;
    margin: auto;
    background: #c4c4c4;
}

.customSlider:after{
    content: 'sVarlog';
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    background: rgba(0,0,0,.2);
    padding: 5px 15px;
    color: #fff;
    transition: 1s;
}
.customSlider:hover:after{
    opacity: 0;
}
.customSlider .item img{
    transition: .4s;
}
.customSlider .item img:active{
    transform: scale(.9);
}