/* SAME STYLES */
h2{letter-spacing:5px;font-size:48px;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
li{list-style:none;}
button{outline:none;}
body{overflow-x:hidden;font-family:'Roboto',sans-serif;position:relative;}
h1,h2,h3,h4,h5,h6{font-family: 'BigNoodle', sans-serif;margin:0;padding:0;}
p{line-height:normal;margin:0;padding:0;}
.borderBottomRed{width:150px;height:3px;background:#C34343;display:block;margin:10px auto 15px auto;}
.borderBottomGrey{width: 150px;height: 3px;background:#A98585;display: block;margin: 10px auto 15px auto;}
.grayText{color:#737373;}.whiteText{color:#fff;}
.heading p{width:55%;margin:auto;font-family:'Roboto',sans-serif;font-size:14px;font-weight:400;}
.logo{
	font-size: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
	font-family: 'BigNoodle', sans-serif;
	padding: 0;
}
.logo sub{
	text-transform: lowercase;
	top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
}
/* SAME STYLES END */
/* HEADER */
.header .logo:hover{
	color: #000;
}
.header .navWrap{
	position: fixed;
	width: 100%;
	z-index: 5;
	box-shadow: 0px 1px 10px;
}
.header .nav{
	padding: 20px;
	background: #F2F2F2;
	position: relative;
	z-index: 5;
}
.header .nav .navBtn{
	border: 0;
	outline: 0;
	background: transparent;
}
.header .nav .navBtn span{
	width: 30px;
	height: 2px;
	background: #000;
	display: block;
	margin: 4px 0;
	transition: .5s;
	transform-origin: 75%;
}
.header .nav .navBtn span:nth-child(2){
	width: 28px;
	margin-left: auto;
}
.header .nav .navBtn.active span:nth-child(2){
	opacity: 0;
}
.header .nav .navBtn.active span:nth-child(1){
	transform: rotate(-45deg);
	margin: 0;
}
.header .nav .navBtn.active span:nth-child(3){
	transform: rotate(45deg);
	margin: 0;
}
.header .menu{
	background: rgba(242,242,242,.5);
	position: absolute;
	width: 100%;
	padding: 10px 0;
	bottom: 0;
	z-index: 4;
	transition: all .5s ease;
}
.header .menu > .container{
	margin-bottom: 0;
}
.header .menu.active{
    transform: translateY(100%);
    box-shadow: 0px -1px 5px;
}
.header .menu .menu-item > a {
	color: #000;
	font-family: 'BigNoodle', sans-serif;
	font-size: 20px;
}
.header .leafSlider{
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.header .leafSlider .item{
	position: absolute;
	transition: .5s;
	z-index: 1;
	opacity: 0;
	background: #000;
	width: 100%;
}
.header .leafSlider .item.show{
	display: block;
	z-index: 2;
	opacity: 1;
}
.header .leafSlider .item img{
	width: 100%;
}
.header .leafSlider .wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	top: 0;
	z-index: 3;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.header .leafSlider .wrap h1{
	font-size: 70px;
	letter-spacing: 0.1em;
}
.header .leafSlider .wrap h3{
	font-size: 36px;
	letter-spacing: 0.03em;
	margin-top: -10px;
}
.header .leafSlider .dotsBlock{
	display: flex;
	align-items: flex-end;
	position: absolute;
	bottom: 40px;
	margin: auto;
	left: calc(50% - 130px);
	z-index: 3;
}
.header .leafSlider .dotsBlock .dotItem{
	width: 80px;
	height: 5px;
	background: rgba(196,196,196,.75);
	border: 1px solid rgba(0,0,0,.5);
	display: block;
	transition: .5s;
	cursor: pointer;
}
.header .leafSlider .dotsBlock .dotItem:nth-child(2){
	margin: 0 10px;
}
.header .leafSlider .dotsBlock .dotItem.active{
	border: 1px solid #fff;
	background: #fff;
}
/* HEADER END */
/* SECTION1 */
/* 1.1 */
.section1 .light-bg{
	padding-top: 75px;
	background: #f2f2f2;
}
.section1 .cardRow{
	margin-top: 40px;
	padding-bottom: 75px;
}
.section1 .cardRow .cardItem{
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	background: #fff;
	padding: 48px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: inherit;
}
.section1 .cardRow .cardItem i{
	font-size: 65px;
	transition: inherit;
}
.section1 .cardRow .cardItem h4{
	margin: 15px 0 10px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
.section1 .cardRow .cardItem p{
	font-size: 16px;
	color: #696969;
}
.section1 .cardRow .cardItem .blink{
	height: 100%;
    width: 25px;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    background: #cecece;
    opacity: .5;
    transform: translateX(-10em) skewX(-45deg);
    transition: inherit;
}
.section1 .cardRow .cardItem:hover{
	transform: scale(1.04);
}
.section1 .cardRow .cardItem:hover .blink{
	transform: translateX(30em) skewX(-45deg);
}
.section1 .cardRow .cardItem:hover i{
	transform: scale(1.1);
	color: #cecece;
}
/* SECTION1 END*/
/* SECTION PARALLAX */
.sectionParallax.parallax-window{
	height: 400px;
	background: transparent;
	padding: 0;
	margin: 0;
}
.sectionParallax .bg{
	background: rgba(0,0,0,.25);
}
.sectionParallax .customContainer{
	min-height: 400px;
    align-items: center;
    display: flex;
}
.sectionParallax .shadow{
	width: 100%;
	height: 100%;
	padding: 125px 0;
	background: rgba(0,0,0,.25);
}
.sectionParallax .bg .cardItem{
	background: rgba(0,0,0,.5);
	border: 2px solid #fff;
	color: #fff;
	padding: 29px 75px;
	transition: .5s ease;
}
.sectionParallax .bg .cardItem:hover{
	transform: scale(1.05);
}
.sectionParallax .bg .cardItem h3{
	margin-bottom: 20px;
}
.sectionParallax .bg .cardItem p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #C1BDBD;
	margin-bottom: 20px;
}
.sectionParallax .bg .whiteBtn{
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	padding: 10px 35px;
	transition: .5s ease;
	font-weight: 700;
}
.sectionParallax .bg .whiteBtn:hover{
	background: #fff;
	color: #000;
	transform: scale(1.1);
}
/* SECTION PARALLAX END */
/* SECTION2 */
.section2{
	padding: 75px 0;
}
.section2 .teamSlider{
	margin-top: 45px;
	position: relative;
}
.section2 .teamSlider .item{
	display: none;
}
.section2 .teamSlider .item.show{
	display: flex;
}
.section2 .colLeft .imgWrap{
	position: relative;
	cursor: pointer;
	height: 400px;
    overflow: hidden;
}
.section2 .colLeft .imgWrap img{
	width: 100%;
	height: 400px;
}
.section2 .colLeft .imgWrap:hover .textBlock{
	transform: translateY(0);
}
.section2 .colLeft .imgWrap .textBlock{
	position: absolute;
    width: 100%;
    bottom: 0;
    padding: 25px;
    transition: 1s;
    transform: translateY(100%);
    background: rgba(0,0,0,.5);
    transform-origin: bottom;
    color: #fff;
}
.section2 .colLeft .imgWrap .textBlock h4{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.section2 .colLeft .imgWrap .textBlock p{
	font-size: 14px;
	font-weight: 100;
	padding: 0;
}
.section2 .colLeft .imgWrap .textBlock .links .linkItem{
	font-size: 20px;
}
.section2 .colLeft .imgWrap .textBlock .links .linkItem a{
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	transition: all .5s ease;
	font-size: 14px;
}
.section2 .colLeft .imgWrap .textBlock .links .linkItem a:hover{
	background: rgba(255,255,255,.5);
	color: #000;
	transform: translateY(5px) scale(1.05);
	border-radius: 3px;
}
.section2 .colRight{
	background: #E1E1E1;
	padding: 40px 55px 30px 55px;
}
.section2 .colRight h2{
	font-size: 35px;
}
.section2 .colRight a{
	color: #696969;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 100;
	transition: all .5s ease;
}
.section2 .colRight a:hover{
	letter-spacing: 3px;
}
.section2 .colRight p{
	font-size: 14px;
	font-weight: 100;
	color: #696969;
	margin-top: 22px;
	margin-bottom: 35px;
	width: 65%;
}
.section2 .colRight .progressBar{
	width: 85%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	position: relative;
	cursor: pointer;
}
.section2 .colRight .progressBar progress{
	width: 90%;
	margin-right: 20px;
	height: 4px;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	transition: .3s;
}
.section2 .colRight .progressBar progress::-webkit-progress-bar{
	background: #fff;
}
.section2 .colRight .progressBar progress::-webkit-progress-value{
	background: #696969;
}
.section2 .colRight .progressBar span.title{
	position: absolute;
	top: -15px;
	left: calc(50% - 80px);
	padding: 0 20px;
	display: block;
	background: rgba(0,0,0,.5);
	color: #fff;
	transition: all .5s ease;
	opacity: 0;
}
.section2 .colRight .progressBar:hover progress::-webkit-progress-value{
	height: 5px;
}
.section2 .colRight .progressBar:hover span.title{
	opacity: 1;
}
.section2 .colRight .progressBar span.value{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.section2 .colRight .skillName{
	width: 7em;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 15px;
}
.section2 .dots{
	position: absolute;
	bottom: 0;
	right: 15px;
}
.section2 .dots span{
	width: 75px;
	height: 5px;
	display: block;
	background: #818181;
	margin-left: 20px;
	transition: all .5s ease;
	cursor: pointer;
}
.section2 .dots span.active{
	height: 7px;
	border: 1px solid rgba(0,0,0,.5);
	background: #fff;
}
/* SECTION2 END 
/* SECTION3 PARALLAX */
.section3 .bg{
	padding: 75px 0;
	background: rgba(0,0,0,.5);
}
.section3 .heading{
	color: #fff;
}
.section3 .cardItem{
	color: #fff;
	border: 2px solid #fff;
	padding: 25px 20px;
	background: rgba(0,0,0,.75);
	cursor: pointer;
	transition: all .5s ease;
}
.section3 .cardItem:hover{
	background: rgba(255,255,255,.75);
	color: #000000bf;
}
.section3 .cardItem i{
	font-size: 50px;
}
.section3 .cardItem h3{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 10px 0;
}
.section3 .cardItem p{
	font-size: 13px;
	letter-spacing: .1em;
}
/* SECTION3 END */
/* SECTION4 */
.section4{
	padding: 75px 0;
}
.section4 .gallery{
	display: grid;
	grid-template-columns: 30% 25% 12.5% 12.5% 16%;
	grid-template-rows: 180px 180px;
	grid-gap: 3% 1%;
	margin-top: 36px;
}
.section4 .ht2{
	grid-row-start: 1;
    grid-row-end: 3;
}
.section4 .c3{
	grid-column-start: 5;
}
.section4 .w2{
	grid-column-start: 3;
	grid-column-end: 5;
}
.section4 .gallery img{
	width: 100%;
	height: 100%;
	transform: scale(1.1);
}
.section4 .gallery .workItem{
	overflow: hidden;
	position: relative;
}
.section4 .gallery .workItem .wrapperImg{
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}
.section4 .gallery .workItem:hover .wrapperImg{
	opacity: 1;
}
.section4 .gallery .workItem .wrapperImg .workInfo{
	text-align: center;
	background: rgba(255,255,255,.5);
	padding: 15px 35px;
}
.section4 .gallery .workItem .wrapperImg .workInfo h3{
	color: #000;
}
.section4 .gallery .workItem .wrapperImg .workInfo span{
	display: block;
	margin-top: -5px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 100;
}
.section4 .gallery .workItem .wrapperImg .workInfo span a{
	font-size: 12px;
	font-weight: 700;
	color: #fff;
}
/* SECTION4 END */
/* SECTION5 */
.section5 .bg{
	padding: 75px 0;
	background: rgba(0,0,0,.75);
}
.section5 .bg .heading{
	color: #fff;
}
.section5 .bg .cardItem{
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
	cursor: pointer;
}
.section5 .bg .cardItem img{
	width: 100%;
	height: 50%;
}
.section5 .bg  .mainItem img{
	height: 100%;
}
.section5 .bg .cardItem:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 2;
	transition: all .5s ease;
}
.section5 .bg .cardItem:hover:after{
	background: rgba(0,0,0,.5);
}
.section5 .bg .cardItem .textBlock{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 3;
	width: 100%;
	padding: 20px;
}
.section5 .bg .cardItem .textBlock .textBody{
	height: 75px;
}
.section5 .bg .itemCol:first-child .textBlock{
	max-width: 50%;
}
.section5 .bg .cardItem .textBlock h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.section5 .bg .cardItem .textBlock span.date{
	font-family: 'Roboto', sans-serif;
	font-size: 8px;
	font-weight: 100;
}
.section5 .bg .cardItem .textBlock p{
	font-size: 12px;
	font-weight: 200;
	margin: 20px 0;
}
.section5 .bg .cardItem .textBlock .textFooter .btnOutline{
	color: #000;
	border: 1px solid #000;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0 12px;
	margin: 3px 0;
	transition: all .5s ease;
}
.section5 .bg .cardItem .textBlock .textFooter .btnOutline:hover{
	color: #fff;
	background: #000;
}
.section5 .bg .cardItem .textBlock .textFooter .feedback i{
	font-size: 15px;
	margin-right: 5px;
	color: #737373;
}
.section5 .bg .cardItem .textBlock .textFooter .feedback span{
	font-size: 10px;
	font-weight: 100;
	color: #737373;
}
/* SECTION5 END */
/* SECTION6 */
.section6{
	padding: 75px 0;
	background: #f8f8f8;
}
.section6 form{
	width: 75%;
    margin: 40px auto 0 auto;
}
.section6 form .inputRow{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section6 form input{
	width: 49%;
	margin-bottom: 15px;
	border: 0;
	border-bottom: 2px solid #000;
	background: rgba(234,231,231,.5);
	padding: 8px 15px;
	outline: none;
	transition: all .5s ease;
}
.section6 form textarea{
	width: 100%;
	height: 150px;
	border: 0;
	background: rgba(234,231,231,.5);
	padding: 8px 15px;
	border-bottom: 2px solid #000;
	resize: none;
	outline: none;
	margin-bottom: 15px;
	transition: all .5s ease;
}
.section6 form textarea:focus{
	background: #000;
	border-bottom: 2px solid rgba(234,231,231,.5);
	color: #fff;
}
.section6 form input::placeholder,
.section6 form textarea::placeholder{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	transition: all .5s ease;
}
.section6 form input:focus::placeholder,
.section6 form textarea:focus::placeholder{
	color: #fff;
	font-size: 10px;
}
.section6 form input:focus{
	background: #000;
	border-bottom: 2px solid rgba(234,231,231,.5);
	color: #fff;
}
.section6 form .btnOutline{
	display: block;
	margin: auto;
	background: transparent;
	border: 2px solid #000;
	padding: 10px 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	transition: all .5s ease;
}
.section6 form .btnOutline:hover{
	background: #000;
	color: #fff;
}
/* SECTION6 END*/
/* SECTION7 */
.section7{
	background: url(../img/MapBG.jpg);
	background-size: 110% 350%;
	background-position: 0 0;
	cursor: pointer;
	position: relative;
	height: 210px;
}
.section7 .container{
	height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.section7 .bg{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}
.section7 .bg i{
	font-size: 50px;
	margin-bottom: 5px;
	transition: all .5s ease;
}
.section7 .bg h2{
	transition: all .5s ease;
}
.section7:hover .bg h2{
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	background: rgba(255,255,255,.5);
}
.section7:hover .bg i{
	transform: scale(1.2);
}
/* SECTION7 END */
/* FOOTER */
.footer{
	padding: 25px 0;
	background: #0D0D0D;
}
.footer .logo{
	color: #fff;
}
.footer .copyright{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 100;
}
.footer .copyright a{
	color: #B8AEAE;
	font-weight: 700;
}
/* FOOTER END */
/* MODAL WINDOW */
.modal-window{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	background: rgba(0,0,0,.5);
	transform: translateX(100vw);
	transition: all .5s ease;
	padding: 10%;
}
.modal-window .modalContainer{
	background: #fff;
	height: 100%;
	position: relative;
}
.modal-window iframe{
	height: 100%;
	width: 100%;
	border: 0;
}
.modal-window .close{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: rgba(255,255,255,.75);
}
.modal-window .close:before{
	content: '';
	width: 15px;
	height: 3px;
	background: #000;
	position: absolute;
	top: 8px;
	left: 2px;
	transform: rotate(-45deg);
	transition: all .5s ease;
}
.modal-window .close:after{
	content: '';
	width: 15px;
	height: 3px;
	background: #000;
	position: absolute;
	top: 8px;
	left: 2px;
	transform: rotate(45deg);
	transition: all .5s ease;
}
.modal-window .close:hover:before{
	transform: rotate(45deg);
}
.modal-window .close:hover:after{
	transform: rotate(-45deg);
}
/* END MODAL WINDOW */
.parallax{
	height: 100%;
	overflow: hidden;
}
.parallax-layer{
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-y: scroll;
	overflow-x: hidden;
}
