@media screen and (max-width: 1199px){
    /* categories */
    section.categories a img{
        margin-right: 10px;
        width: 35px;
    }
    section.categories a span{
        font-size: 12px;
    }
    /* recomendation */
    .recomendation .newPrice{
        font-size: 25px;
    }
    .recomendation .recomendationItems .special .blueCard #timerTime{
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 991px){
    section.categories{
        padding: 10px;
    }
    section.categories img{
        display: none;
    }
    section.categories a{
        padding: 0 10px;
        text-align: center;
    }
    section.categories a span{
        width: 100%;
    }
    /* recomendation */
    .recomendation .products img{
        width: 85%;
        display: block;
        margin: auto;
    }
    .recomendation .products .blueCard{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){
    section.categories.mobile{
        padding: 20px;
    }
    section.categories.mobile .catWrap{
        flex-direction: column;
    }
    section.categories .catHeading{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    section.categories.active .catHeading{
        padding-bottom: 10px;
    }
    section.categories.active .catHeading:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        display: block;
        background: #336699;
    }
    section.categories .catHeading .catButton{
        width: 20px;
        height: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    section.categories .catHeading .catButton .catButtonLine{
        width: 100%;
        height: 2px;
        background: #000;
        display: block;
    }
    section.categories.active .catHeading .catButton .catButtonLine:nth-child(1){
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }
    section.categories.active .catHeading .catButton .catButtonLine:nth-child(2){
        opacity: 0;
        transition: .75s;
    }
    section.categories.active .catHeading .catButton .catButtonLine:nth-child(3){
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }
    section.categories .catWrap{
        opacity: 0;
        z-index: -2;
    }
    section.categories.active .catWrap{
        opacity: 1;
        z-index: 2;
    }
    section.categories.mobile a{
        width: 100%;
        padding: 10px;
        text-align: left;
        font-weight: 800;
        font-size: 13px;
    }
    section.categories.mobile a:after{
        width: 100%;
        height: 1px;
        right: 0;
        top: auto;
        bottom: 0;
    }
    section.categories.mobile a img{
        display: block;
    }
    /* recomendation */
    .recomendation .special{
        margin-bottom: 15px;
    }
    .recomendation .products .blueCardWrap{
        margin-bottom: 15px!important;
        padding: 0;
    }
    .recomendation .special{
        margin-left: auto;
        margin-right: auto;
    }
}