@media screen and (max-width: 1199px){
    h2{font-size: 23px;}
    h3{font-size: 18px;}
    p{font-size: 13px;}
    /* header */
    .header .navigation .pagesWrap .widgetSearch{
        width: 6%;
    }
    .header .navigation .pagesWrap .widgetSearch input{
        padding: 0;
        width: 100%;
    }
    .header .navigation .pagesWrap .widgetSearch input::placeholder{
        color: transparent;
    }
    .header .navigation .pagesWrap .widgetSearch:before{
        right: calc(50% - 6px);
    }
    .header .navigation .pagesWrap .pagesMenu a.lang,
    .header .navigation .pagesWrap .pagesMenu a.current{
        font-size: 10px;
    }
    /* header end */
}
@media screen and (max-width: 991px){
    .header .navigation{
        display: none;
    }
    .menuButtonWrap{
        border-radius: 5px;
        width: 35px;
        height: 24px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .header .menu.active{
        transform: translateY(-100%);
    }
    .menuButtonWrap .menuLine{
        width: 100%;
        height: 2px;
        background: #fff;
    }
    .logo1 img{
        height: 50px;
    }
    .header .navigation .pagesWrap{
        margin-top: 0;
    }
    .pagesWrap .widgetSearch{
        display: none;
    }
    .pagesWrap.mobile{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        z-index: -2;
        transform: translateY(-100%);
    }
    .pagesWrap.mobile.active{
        transform: translateY(0);
        z-index: 10;
    }
    .pagesWrap.mobile .pagesMenu{
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 30px;
    }
    .pagesWrap.mobile .pagesMenu li{
        display: flex;
        justify-content: flex-end;
        position: relative;
        background: linear-gradient(to bottom, #007BFF, #271740);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
    .pagesWrap.mobile .pagesMenu li:after{
        content: '\2014';
        color: inherit;
        margin: 0px 5px;
        font-weight: 800;
        background: linear-gradient(to bottom, #007BFF, #271740);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pagesWrap.mobile .pagesMenu .menuTop{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .pagesWrap.mobile .pagesMenu .menuTop .menuButtonWrap .menuLine{
        width: 50%;
    }
    .pagesWrap.mobile .pagesMenu .menuTop .menuButtonWrap{
        position: relative;
        height: 35px;
    }
    .pagesWrap.mobile .pagesMenu .menuTop .menuButtonWrap .menuLine:nth-child(2){
        display: none;
    }
    .pagesWrap.mobile .pagesMenu .menuTop .menuButtonWrap .menuLine:nth-child(1){
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }
    .pagesWrap.mobile .pagesMenu .menuTop .menuButtonWrap .menuLine:nth-child(3){
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }
    .pagesWrap.mobile .menuBottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pagesWrap.mobile .menuBottom .line{
        width: 100%;
        height: 2px;
        display: block;
        background: linear-gradient(to bottom, #007BFF, #271740);
        margin: 20px 0;
    }
    .pagesWrap.mobile .menuBottom .phoneNumber{
        font-size: 20px;
        font-weight: 800;
        background: linear-gradient(to bottom, #007BFF, #271740);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .pagesWrap.mobile .menuBottom .widgetSearch{
        position: relative;
        display: flex;
        width: 80%;
        height: 50px;
    }
    .pagesWrap.mobile .menuBottom .widgetSearch input{
        border-radius: 10px;
        height: inherit;
        font-size: 10px;
        padding-left: 10px;
        position: relative;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,123,225,.5);
    }
    .pagesWrap.mobile .menuBottom .widgetSearch input::placeholder{
        color: #000;
    }
    .pagesWrap.mobile .menuBottom .widgetSearch:before{
        content: '';
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 10px;
        top: calc(50% - 6px);
        z-index: 2;
    }
}
@media screen and (max-width: 767px){
    .contacts{
        height: auto;
    }
    .contacts .map{
        position: relative;
        height: 400px;
    }
    .contacts .contactItem{
        margin: auto;
        padding: 20px;
    }
    /* footer */
    .footer .footerItem .links{
        transition: .3s;
    }
    .footer .footerItem .links.hide{
        opacity: 0;
        z-index: -2;
    }
    .footer .footerItem h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer .footerItem h3:after{
        content: '';
        background: url(../img/arrows/whiteArrowDown.png) no-repeat center;
        width: 10px;
        height: 10px;
        display: block;
        transition: .5s;
    }
    .footer .footerItem.active h3:after{
        transform: rotateX(180deg);
    }
    .footer .footerCopy{
        flex-direction: column;
        text-align: center;
    }
    .footer .footerCopy a{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 576px){
    h2, h3{
        font-size: 15px;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
    section{
        padding: 15px;
        margin-bottom: 15px;
    }
    .menuButtonWrap{
        width: 30px;
    }
    .pagesWrap.mobile .pagesMenu .menuTop .menuButtonWrap{
        width: 30px;
        height: 30px;
    }
    .logo1 img{
        height: 30px;
    }
    .pagesWrap.mobile .pagesMenu{
        padding: 20px 15px;
    }
    .pagesWrap.mobile .menuBottom .widgetSearch{
        width: 100%;
    }
    /* form1 */
    .form1 p{
        text-align: left;
    }
    /* work Time */
    .workTime img{
        width: 15px;
    }
    /* social */
    .social h2{
        margin-bottom: 10px;
    }
    .social .icons .item a{
        margin: 0px 5px;
    }
    /* footer */
    .footer .footerItem a{
        font-size: 12px;
    }
}