*{
    transition: .5s;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    outline: none;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgb(30, 36, 105), rgba(124,133,231,1));
}
#parameters{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(30, 36, 105), rgba(124,133,231,1));
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
#parameters .parWrap{
    background: rgba(90,97,167,1);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#parameters .parWrap button{
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 15px;
    border: 0;
    border-radius: 10px;
    background: rgba(239, 239, 239, 0.3);
}
#area{
    display: flex;
    width: 1200px;
    height: 600px;
    margin: auto;
    flex-wrap: wrap;
    position: absolute;
    left: calc(50% - 600px);
    transition: 0s;
    opacity: 0;
}
#area .background{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
.background video{
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 1;
    overflow: hidden;
}
.background:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.75);
}
.cell{
    box-sizing: border-box;
    border: 0;
}
#area .score{
    position: absolute;
    left: 0;
    top: -6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#area .score span{
    text-align: center;
    margin-right: 10px;
}
#area .score input{
    width: 75px;
    border: 0;
    padding: 5px 0 5px 15px;
    font-size: 10;
    border-radius: 10px;
}
#pause{
    position: absolute;
    top: -6%;
    right: 0;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
    background: rgba(239, 239, 239, 0.3);
}
#pauseWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -2;
}
#pauseWrap.active{
    opacity: 1;
    z-index: 10;
}
#pauseWrap #resume{
    display: flex;
    width: 40px;
    justify-content: space-between;
}
#pauseWrap #resume:before{
    content: '';
    width: 10px;
    height: 70px;
    background: #fff;
    display: block;
}
#pauseWrap #resume:after{
    content: '';
    width: 10px;
    height: 70px;
    background: #fff;
    display: block;
}
.snake{
    background:rgba(0,255,0,.25);
    border-radius: 0!important;
    position: relative;
    z-index: 2;
    transition: .2s;
    transform: scale(.8);
}
.head{
    border-radius: 10%;
    background: rgba(0,255,0,.55);
    transition: 0s;
    position: relative;
    z-index: 5;
    transform: scale(1.1);
}
.head:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0, 255, 0)!important;
    z-index: 6;
}
.target{
    position: relative;
    transition: 0s;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.target:before{
    content: '';
    width: 100%;
    height: 100%;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
#gameResult{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0s;
    opacity: 0;
    z-index: -2;
}
#gameResult.active{
    opacity: 1;
    z-index: 10;
}
#gameResult .wrap{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background: rgba(90,97,167,.75);
    justify-content: center;
    align-items: center;
}
#gameResult .score,
#gameResult .time{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
#gameResult .score span,
#gameResult .time span{
    text-align: center;
    margin-bottom: 10px;
}
#gameResult input::placeholder{
    text-align: center;
    color: #fff;
}
#gameResult .newGame{
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    padding: 5px 15px;
    background: rgba(239, 239, 239, 0.3);
}
span.point{
    position: absolute;
    color: #fff;
    transition: .5s;
    transform: translateY(0px);
    z-index: 9;
    font-size: 19px;
}
span.point.active{
    transition: .5s;
    transform: translateY(50px);
}