#dependencies
/node_modules
/.pnp
.pnp.js

#testing
/coverage

#production
/build

#misc
.DS_Store
.env.local
.enc.development.local
.env.test.local
.envproduction.local

npm-debug.log*
yarn-debug-log*
yarn-error.log*