section.delivery{
	padding: 30px;
}
section.delivery p{
	text-align: left;
	margin: 5px;
}
.delivery .company{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.delivery .company .item{
	padding: 0;
	overflow: hidden;
}
.delivery .company .item h3{
	color: #fff;
	padding: 10px;
}
.delivery .company .item .content{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.bottomCard{
	padding: 25px 30px;
	margin-top: 15px;
}
.bottomCard p{
	margin: 5px 0;
}
@media screen and (max-width: 991px){
	.delivery .company{
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 575px){
	.bottomCard{
		padding: 15px;
	}
}
@media screen and (max-width: 425px){
	.delivery .company{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.delivery .company .item{
		margin: 0;
		width: 100%;
		height: 221px;
		top: 0;
	}
}