/* catalog */
.catalog{
	padding: 0;
	min-height: 100vh;
}
.catalog section{
	padding: 15px;
}
.catalog section.row{
	padding: 0;
	background: transparent;
	box-shadow: none;
}
.catalog .left{
	padding-top: 0;
}
.catalog .left h3{
	padding: 15px 0 5px 0;
}
.catalog .left a{
	color: #000;
	font-weight: 400;
	margin: 5px 10px;
	display: block;
}
.catalog .left a.active{
	font-weight: 800;
}
.catalog .left .filterPrice{
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-top: 10px;
}
.catalog .left .filterPrice span{
	margin-right: 5px;
}
.catalog .left .filterPrice input{
	border: 1px solid #336699;
	max-width: 75px;
	padding: 5px 10px;
	font-size: 12px;
	margin-right: 5px;
}
.catalog .right{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.catalog .right .products{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.catalog .right .products .item{
	padding: 0;
	cursor: pointer;
}
.catalog .right .products .item img{
	width: 100%;
}
.catalog .right .products .item .description{
	padding: 10px;
	padding-top: 0;
	text-align: center;
}
.catalog .right .products .item .description .rating{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}
.catalog .right .products .item .description .rating .stars{
	display: flex;
}
.catalog .right .products .item .description .rating .stars svg{
	transform: scale(.85);
}
.catalog .right .products .item .description .rating .reviews{
	font-size: 10px;
	font-weight: 800;
	color: #4E4E4E;
}
.catalog .right .products .item .description .price{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.catalog .right .products .item .description .price a{
	padding: 5px 10px;
	border-radius: 5px;
}
.catalog .right .products .item .description .price span{
	font-size: 20px;
	font-weight: 800;
}
.catalog .right .products .item .description .price span.current{
	font-size: 14px;
}
.catalog .right .pagination{
	display: flex;
}
.catalog .right .pagination a{
	color: #271740;
	font-weight: 800;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.catalog .right .pagination a.active{
	color: #fff;
	background: linear-gradient(180deg, #336699 0%, #271740 100%);
	border-radius: 5px;
}
.catalog .right .pagination a img{
	width: 15px;
}
/* article */
.article{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.article *{
	margin-top: 10px;
}
.article img,
.article iframe{
	margin: 20px auto 20px auto;
	display: block;
	width: 75%;
	height: auto;
}
.article iframe{
	width: 100%;
	height: 450px;
}
.article a{
	color: #000;
	display: block;
	margin-top: 5px;
}
.article .tableWrap{
	width: 100%;
}
.article table{
	border-radius: 5px;
	width: 100%;
	border-collapse: collapse;
}
.article table th{
	font-size: 12px;
	font-weight: 800;
	color: #fff;
	background: linear-gradient(180deg, #336699 0%, #271740 100%);
	padding: 10px 5px;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.article table th:first-child{
	border-top-left-radius: 10px;
}
.article table th:last-child{
	border-top-right-radius: 10px;
}
.article table td{
	font-size: 12px;
	font-weight: 400;
	padding: 10px 5px;
	border: 1px solid #000;
}
/* reviews */
.reviews .reviewSlider{
	width: 50%;
	margin: auto;
	position: relative;
}
.reviews .reviewSlider .item{
	display: flex;
}
.reviews .reviewSlider .item .textBlock{
	width: 80%;
	margin-left: 10px;
}
.reviews .reviewSlider .item .textBlock p:not(.bold){
	margin-top: 10px;
	margin-bottom: 10px;
}
.reviews .reviewSlider .img{
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	background: #cecece;
	overflow: hidden;
}
.reviews .reviewSlider .arrows{
    position: absolute;
    top: calc(50% - 13px);
    display: flex;
    width: 150%;
    justify-content: space-between;
    left: -25%;
}
.reviews .reviewSlider .arrows .prev,
.reviews .reviewSlider .arrows .next{
	cursor: pointer;
}
.reviews .reviewSlider .arrows .prev:hover,
.reviews .reviewSlider .arrows .next:hover{
	transform: scale(1.05);
	filter: drop-shadow(3px 5px 5px #000);
}
.reviews .link{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}
.reviews .link a{
	margin-left: 30px;
}
.reviews form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin: auto;
	margin-top: 20px;
}
.reviews form .row{
	display: flex;
	justify-content: space-between;
	margin: 0;
	width: 100%;
}
.reviews form input{
	box-shadow: 0px 0px 10px rgba(34, 183, 217, 0.5);
	width: 48%;
}
.reviews form .rating{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.reviews form .rating .stars{
	margin-right: 10px;
}
.reviews form textarea{
	width: 100%;
	height: 150px;
	resize: none;
	border-radius: 10px;
	padding: 10px 15px;
	border: none;
	box-shadow: 0px 0px 10px rgba(34, 183, 217, 0.5);
	outline: none;
	margin-top: 10px;
}
.reviews form a{
	margin-top: 15px;
}
@media screen and (max-width: 991px){
	.catalog .right .products{
		grid-template-columns: 1fr;
	}
	.catalog h3{
		font-size: 15px;
	}
	.article .tableWrap{
		overflow-x: scroll;
		padding-bottom: 10px;
	}
	.article ::-webkit-scrollbar {
	    height: 3px; /* высота для горизонтального скролла */
	    background-color: #f2f2f2;
	    margin-top: 20px;
	}
	.article ::-webkit-scrollbar-thumb {
	    background-color: #271740;
	    height: 10px;
	    border-radius: 9em;
	}
	.article ::-webkit-scrollbar-thumb:hover {
	    background-color: #253861;
	}
}
@media screen and (max-width: 767px){
	.header .gradient{
		padding-top: 0;
		align-items: center!important;
	}
	.catalog .row{
		position: relative;
		overflow: hidden;
	}
	.pageItem{
		position: absolute;
		z-index: -2;
		opacity: 0;
	}
	.pageItem:not(.active){
		top: 49px;
	}
	.pageItem.active{
		position: relative;
		z-index: 1;
		opacity: 1;
		height: 100%;
	}
	.catalog section.row{
		background: #fff;
		box-shadow: 5px 5px 10px rgba(0,0,0,.25);
		margin-left: 0;
		margin-right: 0;
	}
	.catalog section.row  section{
		background: transparent;
		box-shadow: none;
	}
	.catalog .switcherWrap{
		padding: 0;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 5;
	}
	.catalog .switcherWrap .switchItem{
		padding: 15px;
		width: 50%;
		text-align: center;
		background: #fff;
	}
	.catalog .switcherWrap .switchItem.active{
		color: #fff;
		background: linear-gradient(180deg, #336699 0%, #271740 100%);
	}
	.reviews .reviewSlider{
		width: 90%;
	}
	.reviews .reviewSlider .arrows{
		display: none;
	}
	.reviews .link{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10px auto;
		text-align: center;
	}
	.reviews .link a{
		margin-left: 0;
		margin-top: 10px;
	}
	.reviews form{
		width: 75%;
	}
}
@media screen and (max-width: 575px){
	p{
		text-align: left;
	}
	.article iframe{
		height: 300px;
	}
	.reviews .reviewSlider .item{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.reviews .reviewSlider .item *{
		text-align: center;
	}
	.reviews .reviewSlider .item .textBlock{
		margin-left: 0;
	}
	.reviews .reviewSlider .item .textBlock h2{
		margin-top: 10px;
	}
	.reviews form .rating{
		margin-bottom: 0;
	}
	.reviews form input{
		width: 100%;
		margin-top: 10px;
	}
	.reviews form .inputs{
		flex-direction: column;
	}
}
@media screen and (max-width: 375px){
	.reviews form .rating{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.reviews form .rating .stars{
		margin-right: 0;
	}
}