section.pay{
	padding: 30px;
}
section.pay .paySlider{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	width: 80%;
	margin: 15px auto;
}
section.pay .paySlider .item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 250px;
	width: 100%;
}
section.pay .paySlider .item h2{
	font-size: 14px;
}
section.pay .paySlider .item p{
	height: 0;
	opacity: 0;
	z-index: -2;
}
section.pay .paySlider .item:hover p{
	height: 100px;
	opacity: 1;
	z-index: 1;
}
section.pay .paySlider .item:nth-child(5):hover p{
	height: 50px;
}
section.pay .paySlider .item:nth-child(6):hover p{
	height: 150px;
}
section.pay .row{
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
section.pay .row p{
	margin: 5px 0;
}
section.pay .row img{
	width: 100%;
}
@media screen and (max-width: 1199px){
	section.pay .paySlider{
		width: 90%;
	}
	section.pay .paySlider .item p{
		font-size: 13px;
	}
}
@media screen and (max-width: 991px){
	section.pay .paySlider{
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 767px){
	section.pay .paySlider{
		width: 100%;
		grid-gap: 15px;
	}
}
@media screen and (max-width: 575px){
	section.pay .paySlider{
		grid-template-columns: 1fr;
		width: 75%;
	}
}
@media screen and (max-width: 425px){
	section.pay{
		padding: 15px;
	}
	section.pay .paySlider{
		width: 100%;
	}
	section.pay .paySlider .item:nth-child(6):hover p{
		height: 125px;
	}
}