.pageHeading h2{
	font-size: 15px;
}
.pageHeading h2 a{
	color: #000;
	font-weight: 400;
}
.pageHeading h2 a.active{
	color: #007BFF;
}
.pageHeading h2 span{
	font-weight: 100;
}
/**/
.productHeader .left .gallery .mainArea{
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,123,255,.25);
	position: relative;
	height: 290px;
}
.productHeader .left .gallery .mainArea img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0;
}
.productHeader .left .gallery .mainArea img.active{
	opacity: 1;
	z-index: 2;
}
.productHeader .left .gallery .navWrap{
	position: relative;
	width: calc(100% + 7.5px);
	height: 85px;
	overflow: hidden;
	padding: 10px 0;
}
.productHeader .left .gallery .navWrap .slideNav{
	position: absolute;
	height: calc(100% - 20px);
	display: flex;
}
.productHeader .left .gallery .navWrap .slideNav img{
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,.25)
}
.productHeader .left,
.productHeader .right{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.productHeader .right .price{
	color: #007BFF;
	font-size: 25px;
	font-weight: 800;
	display: flex;
	align-items: flex-end;
	margin: 5px 0;
}
.productHeader .right .price .current{
	font-size: 20px;
	margin-left: 5px;
}
.productHeader .right .rating{
	display: flex;
	align-items: center;
}
.productHeader .right .rating .stars{
	display: flex;
	align-items: center;
}
.productHeader .right .rating .reviews{
	font-size: 10px;
	font-weight: 800;
	color: #4E4E4E;
	margin-left: 5px;
}
.productHeader .right .stats{
	margin: 15px 0;
}
.productHeader .right .stats p{
	margin: 5px 0;
}
.productHeader .right .buttons{
	display: flex;
}
.productHeader .right .buttons a{
	margin-right: 15px;
}
/**/
.payback{
	border-radius: 0;
}
.payback .container .row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}
.payback .item .blueCard{
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 170px;
	text-align: center;
}
.payback .item .blueCard .icon{
	width: auto;
	height: 45px;
	margin: 15px 0;
}
/**/
.advantages .content{
	padding-left: 30px;
	padding-right: 30px;
}
.advantages .content .column{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.advantages .content img{
	width: 100%;
}
.advantages .content p{
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.advantages .customSlider{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	width: calc(100% - 30px);
	margin: auto;
}
.advantages h2.title{
	margin-top: 20px;
	margin-bottom: 20px;
}
.advantages .customSlider .item{
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 150px;
}
.advantages .customSlider .item img{
	height: 50px;
	width: auto;
	margin-bottom: 10px;
}
.advantages .customSlider .item:nth-child(2) img,
.advantages .customSlider .item:nth-child(5) img{
	width: 50px;
	height: auto;
}
/**/
.form2{
	border-radius: 0;
	padding: 0;
}
.form2 .left img{
	width: 100%;
	filter: drop-shadow(0 0 10px rgba(255,255,255,.5));
}
.form2 .right{
	background: rgba(0,0,0,.5);
	padding: 50px 15px;
}
.form2 .left,
.form2 .right{
	display: flex;
	align-items: center;
	justify-content: center;
}
.form2 .right form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
}
.form2 .right input{
	margin: 5px 0;
}
.form2 .right form p{
	margin: 5px 0;
}
.form2 .right form a.blueGradient{
	border: 2px solid #fff;
	margin-top: 10px;
}
/**/
.opportunities .content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: calc(100% - 30px);
	margin: 20px auto;
}
.opportunities .left,
.opportunities .right{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.opportunities h2.title span{
	margin-left: 5px;
}
.opportunities .right .hideText.hide{
	z-index: -2;
	opacity: 0;
}
.opportunities .right .hideText{
	z-index: 1;
	opacity: 1;
}
.opportunities .left{
	background: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 375px;
}
.opportunities .right p{
	font-size: 13px;
	margin: 5px 0;
}
.opportunities .stats{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	width: calc(100% - 30px);
	margin: 20px auto;
}
.opportunities .stats .item{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	align-items: center;
}
.opportunities .stats .item p:not(.bold){
	text-align: right;
}
/**/
.recomendation{
	border-radius: 0;
}
.recomendation h2{
	color: #fff;
	margin-bottom: 20px;
}
.recomendation .customSlider{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
}
.recomendation .customSlider .item{
	background: #fff;
}
.recomendation .customSlider .item img{
	width: 100%;
}
.recomendation .customSlider .item .description{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.recomendation .customSlider .item .description .rating{
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	justify-content: space-between;
}
.recomendation .customSlider .item .description .rating .stars{
	display: flex;
	align-items: center;
}
.recomendation .customSlider .item .description .rating .reviews{
	font-size: 10px;
	font-weight: 800;
	color: #4E4E4E;
}
.recomendation .customSlider .item .description .price{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.recomendation .customSlider .item .description .price span{
	font-weight: 800;
	font-size: 20px;
}
.recomendation .customSlider .item .description .price span > span.current{
	font-size: 15px;
}
/**/
.ourReviews{
	display: flex;
	flex-direction: column;
}
.ourReviews .reviewSlider .dragSliderWrap{
	height: 250px;
	overflow: hidden;
}
.ourReviews .reviewSlider{	
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	width: 50%;
}
.ourReviews .reviewSlider .dragSlider{
	height: calc(100% - 30px);
	min-height: 250px;
	display: flex;
	align-items: center;
}
.ourReviews .reviewSlider .dragSliderWrap .item{
	display: flex;
	height: inherit;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.ourReviews .dragSliderWrap .item{
	cursor: pointer;
	overflow: hidden;
	padding: 0;
	margin: 0 15px;
}
.ourReviews .reviewSlider .item .textBlock{
	width: 80%;
	margin-left: 10px;
}
.ourReviews .reviewSlider .item .textBlock p:not(.bold){
	margin-top: 10px;
	margin-bottom: 10px;
}
.ourReviews .reviewSlider .img{
	min-width: 75px;
	min-height: 75px;
	display: block;
	border-radius: 50%;
	background: #cecece;
	overflow: hidden;
}
.arrows{
	display: flex;
	position: absolute;
	width: 106%;
	left: -3%;
	justify-content: space-between;
	top: calc(50% - 16px);
	z-index: 1;
}
.arrows .arrow{
	height: 32px;
	cursor: pointer;
}
.arrows .arrow:hover img{
	transform: scale(1.05);
	filter: drop-shadow(3px 5px 5px rgba(0,0,0,.75));
}
/**/
.ourReviews .link{
	display: flex;
	align-items: center;
	margin: 20px auto;
}
.ourReviews .link h3{
	font-size: 15px;
	margin-right: 30px;
}
.ourReviews .heading{
	text-align: center;
	margin-bottom: 10px;
}
.ourReviews .heading p{
	margin-top: 10px;
}
.ourReviews form{
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ourReviews form .rating{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.ourReviews form .rating .stars{
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.ourReviews form .inputs{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.ourReviews form .inputs textarea{
	resize: none;
	grid-column-start: 1;
	grid-column-end: 3;
	min-height: 130px;
}
.ourReviews form .inputs input,
.ourReviews form .inputs textarea{
	border: none;
	outline: none;
	box-shadow: 0 0 10px rgba(34,183,217,.5);
	border-radius: 10px;
	font-size: 12px;
	padding: 10px 10px;
	width: 100%;
}
.ourReviews form a.blueGradient{
	margin-top: 15px;
}
/*modal*/
.modalContent[data-modal-content="buy"] form p{
	margin-bottom: 10px;
}
.modalContent[data-modal-content="buy"] form h2{
	margin-bottom: 10px;
	font-size: 25px;
	line-height: 25px;
}
.modalContent[data-modal-content="buy"] form input{
	margin: 5px 0;
}
.modalContent[data-modal-content="buy"] form a{
	margin-top: 10px;
}
/*modal end*/
@media screen and (max-width: 1199px){
	.ourReviews .reviewSlider{
		width: 50%;
	}
}
@media screen and (max-width: 991px){
	.ourReviews .reviewSlider{
		width: 75%;
	}
	.payback .customSlider{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.payback .customSlider .item{
		margin-top: 0;
		top: 0;
	}
	.advantages .content .column{
		align-items: flex-start;
	}
	.advantages .customSlider{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.form2 .left{
		padding: 20px 0;
	}
	.opportunities .content{
		grid-template-columns: 1fr;
		width: 100%;
		grid-gap: 15px;
	}
	.opportunities .content a.showBtn{
		display: none;
	}
	.opportunities .stats{
		grid-template-columns: 1fr 1fr;
	}
	.recomendation .customSlider{
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 767px){
	.productHeader .right *{
		text-align: center;
		justify-content: center;
	}
	.payback .container .row{
		grid-template-columns: 1fr 1fr;
	}
	.ourReviews .arrows{
		display: none;
		z-index: -2;
	}
	.ourReviews .reviewSlider .dragSliderWrap .item{
		flex-direction: column;
	}
	.ourReviews .reviewSlider .dragSliderWrap{
		height: 350px;
	}
	.reviewSlider .img{
		height: 50px;
		width: 50px;
		min-height: 50px;
		min-width: 50px;
	}
	.ourReviews .reviewSlider .dragSliderWrap .item .textBlock{
		width: 100%;
		text-align: center;
		margin-left: 0;
	}
	.ourReviews .reviewSlider .item .textBlock p:not(.bold){
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.ourReviews .link{
		width: calc(100% - 30px);
		margin: auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 10px;
	}
	.ourReviews .link h3{
		margin-right: 0;
		margin-bottom: 10px;
	}
	.ourReviews .heading{
		width: calc(100% - 30px);
		margin: auto;
		margin-bottom: 10px;
	}
	.ourReviews form{
		width: 75%;
	}
}
@media screen and (max-width: 576px){
	.payback .container .row,
	.advantages .customSlider,
	.recomendation .customSlider{
		grid-template-columns: 1fr;
		width: 75%;
		grid-gap: 0;
		margin: auto;
	}
	.payback .container .row .item,
	.advantages .customSlider .item,
	.recomendation .customSlider .item{
		width: 100%;
		margin-top: 0;
		top: 0;
	}
	.recomendation .customSlider .item{
		height: inherit;
	}
	.advantages .content{
		padding: 0;
	}
	.advantages .content .columnImg{
		padding: 0;
	}
	.opportunities p{
		text-align: left;
	}
	.opportunities .stats{
		grid-template-columns: 1fr;
		z-index: 1;
		opacity: 1;
	}
	.opportunities .stats.hide{
		z-index: -2;
		opacity: 0;
		margin: 0;
	}
	.opportunities h2.title{
		display: flex;
		position: relative;
		width: calc(100% - 30px);
		margin: auto;
		flex-wrap: wrap;
	}
	.opportunities h2.title:after{
		content: '';
		position: absolute;
		background-image: url(../../img/arrows/arrowBottom.png);
		right: 0;
		top: calc(50% - 10px);
		height: 20px;
		width: 20px;
		display: block;
		transition: .5s;
	}
	.opportunities h2.title.active:after{
		transform: rotateX(180deg);
	}
	.ourReviews{
		padding-left: 0;
		padding-right: 0;
	}
	.ourReviews .reviewSlider{
		width: 100%;
		padding: 0;
	}
	.ourReviews .reviewSlider .dragSlider{
		height: auto;
		padding: 15px 0;
	}
	.ourReviews .reviewSlider .dragSliderWrap{
		height: auto;
	}
}
@media screen and (max-width: 550px){
	.reviews .reviewSlider{
		width: 100%;
	}
}
@media screen and (max-width: 475px){
	.reviews .reviewSlider{
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
@media screen and (max-width: 425px){
	.pageHeading h2 :nth-child(6){
		display: none;
	}
	.pageHeading h2 :last-child{
		width: 100%;
		display: block;
	}
	.ourReviews form{
		width: calc(100% - 30px);
		margin: auto;
	}
	.ourReviews form .inputs{
		grid-template-columns: 1fr;
		width: 100%;
	}
	.ourReviews form .inputs textarea{
		grid-column-end: auto;
	}
}