.nomain{
  background: #E6EAEE;

  .white {
    color: #4892F3;
  }
  .header.scroll{
    background: #E6EAEE;
    box-shadow: 0px 0px 50px rgba(72, 146, 243, 0.02);
  }
  .menu__phone{
    color: #4892F3;
  }
  .bottom__btn,a.bottom__btn{
    color: #FFFFFF!important;
    text-decoration: none!important;
    &:hover{
      color: #4892F3!important;
    }
  }
  .bottom{
    &__body{
      h1{
        color: #1D1D1F;
      }
      span{
        color: #4892F3;
      }
    }
    &__item{
      a{
        color: #4892F3;
      }
    }
    &__link{
      color: #4892F3;
    }
  }
}
.callBack{
  padding-top: 141px;
  &__form{
    width: 100%;
    max-width: 770px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(72, 146, 243, 0.02);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    h2{
      margin: 0 0 15px;
      font-style: normal;
      font-weight: 900;
      font-size: 21px;
      line-height: 25px;
      color: #1D1D1F;
    }
    p{
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #1D1D1F;
    }
    .form{
      &__group{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        label{
          margin-bottom: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #1D1D1F;
          span{
            color: red;
          }
        }
        &.has-error{
          input,textarea{
            border: 1px solid #EB5757;
          }
        }
        input{
          border: 1px solid #E6EAEE;
          border-radius: 50px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #1D1D1F;
          width: 100%;
          max-width: 350px;
          height: 50px;
          padding: 0 20px;
          transition: all .3s ease;
          &:hover{
            border: 1px solid #BDBDBD;
          }
          &:focus{
            border: 1px solid #1D1D1F;
          }
        }
        textarea{
          border: 1px solid #E6EAEE;
          border-radius: 30px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #1D1D1F;
          width: 100%;
          height: 150px;
          padding: 0 20px;
          resize: none;
          transition: all .3s ease;
          &:hover{
            border: 1px solid #BDBDBD;
          }
          &:focus{
            border: 1px solid #1D1D1F;
          }
        }
      }
      &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .black{
          display: flex;
          align-items: center;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #828282;
          svg{
            margin-right: 5px;
          }
        }
        button{
          background: #4892F3;
          border-radius: 50px;
          padding: 21px 58px;
          font-style: normal;
          font-weight: 900;
          font-size: 14px;
          line-height: 121.69%;
          text-align: center;
          letter-spacing: 0.2em;
          color: #FFFFFF;
        }
      }
    }
  }
}
.loan{
  padding-top: 213px;
  .container{
    position: relative;
  }
  &__timer{
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 30px 50px rgba(29, 29, 31, 0.15);
    width: max-content;
    display: flex;
    top: -140px;
    right: 0;
    position: absolute;
    .time{
      width: 185px;
      height: 90px;
      text-align: center;
      padding: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      color: #1D1D1F;
      background: #FFFFFF;
      border-radius: 30px 0px 0px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .info{
      width: 205px;
      background: #4892F3;
      border-radius: 0px 30px 30px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .text{
        margin-bottom: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
      }
      p{
        margin-bottom: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #E1E3E8;
      }
    }
  }
  &__steps{
    position: relative;
    &-list{
      position: absolute;
      left: 0;
      top: 10px;
      width: 50px;
      height: 430px;
      
      & .mob_title{
        display: none;
      }

      ul{
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li.line{
          height: 100%;
          width: 2px;
          background: #D5D7DA;
          margin: auto;
          position: relative;

          & svg{
            display: none;
          }

          &.active{
            background: #4892F3;
          }
        }

        li:not(.line){
          height: 50px;
          min-height: 50px;
          width: 50px;
          min-width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          background: #D5D7DA;
          color: #fff;
          border-radius: 50%;

          &.active{
            background: #4892F3;

            &:after{
              content: '';
              background: #000;
              width: 95%;
              height: 95%;
              display: block;
              z-index: 2;
              position: absolute;
              background: transparent;
              border: 3px solid #fff;
              border-radius: 50%;
            }
            &.check{
              span:after{
                opacity: 0;
              }
            }
          }

          & span{
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
          }
        }
      }
    }
  }
  &__form{
    width: 100%;
    min-height: 450px;
    max-width: 770px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(72, 146, 243, 0.02);
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding: 40px 50px 25px 50px;
    margin: 0 auto;
    position: relative;
    #step-5 .mob_desc{
      display: none;
    }
    .step{
      display: none;
      &__name{
        position: absolute;
        top: 48px;
        right: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #828282;
      }
      &.active{
        display: block;
      }
    }
    h2{
      margin: 0 0 30px;
      font-style: normal;
      font-weight: 900;
      font-size: 21px;
      line-height: 25px;
      color: #1D1D1F;
    }
    p{
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #1D1D1F;
    }
    .form{
      &__card{
        padding: 54px 0;
        .card-input {
          padding: 8px 10px;
          font-size: 17px;
          line-height: 1;
          &.error{
            border:1px solid red;
          }
          &_cvc {
            background-color: #fff;
            padding: 14px 10px 2px;
          }
        }
        .card-cvc {
          display: none;
          max-width: 165px;
          margin-left: 5px;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 4px 5px 13px 15px;
          .card-cvc-name {
            margin-bottom: 3px;
            color: #fff;
          }
          &-name {
            position: relative;
            display: inline-block;
            margin-bottom: 8px;
            line-height: 22px;
            letter-spacing: -0.288px;
            color: #959CAA;
          }
          &-block {
            display: flex;
            align-items: flex-start;
            span {
              margin-left: 5px;
              font-size: 12px;
              line-height: 12px;
              letter-spacing: 0.171429px;
              color: #fff;
            }
          }
        }
        .card-front {
          position: relative;
          max-width: 355px;
          margin-left: 120px;
          margin-bottom: -171px;
          padding: 25px 30px 30px;
          background: #4892F3;
          border-radius: 20px;
          &__top {
            margin-bottom: 10px;
            text-align: right;
            .card-ico {
              display: inline-block;
              vertical-align: middle;
              &.mir {
                font-size: 20px;
                margin-right: 7px;
                svg {
                  width: 70px;
                  height: 19px;
                }
              }
              &.visa {
                font-size: 20px;
                margin-right: 12px;
              }
              &.mastercard {
                font-size: 28px;
              }
            }
          }
          &__middle {
            margin-bottom: 23px;
            .card-number{
              display: flex;
              justify-content: space-between;
              align-items: center;
              &-name {
                margin-bottom: 8px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: -0.288px;
                color: #FFFFFF;
              }
              .card-input {
                width: 100%;
              }

            }

          }
          &__bottom {
            display: flex;
            justify-content: space-between;

            .card-ico {
              font-size: 39px;
            }
            .card-month-year {
              padding-top: 8px;
              display: flex;
              align-items: center;
              span {
                display: inline-block;
                margin-right: 7px;
                line-height: 22px;
                letter-spacing: -0.288px;
                color: #fff;
              }
              .card-input {
                padding: 8px 10px;
                font-size: 17px;
                line-height: 1;
              }
            }
          }
        }
        .card-input {
          width: 70px;
          padding: 6px 10px;
          background-color: #FFFFFF;
          border-radius: 7px;
          border: solid 1px white;
          font-size: 20px;
          line-height: 22px;
          letter-spacing: -0.48px;
          text-align: center;
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        }
        .card-back {
          max-width: 355px;
          margin-left: 240px;
          padding: 33px 0 48px;
          background: #FFFFFF;
          border: 1px solid #E7ECEC;
          border-radius: 20px;
          .card-decor {
            height: 54px;
            background-color: #E7ECEC;
          }
          .card-cvc-back {
            margin-left: auto;
            margin-top: 16px;
            width: 100px;
            padding-right: 30px;
            .card-input_cvc {
              padding: 6px 10px;
              background-color: #E7ECEC;
              font-size: 18px;
            }
          }
        }
      }
      &__searchCredit{
        padding: 54px 0 ;
        .searchCredit{
          max-width: 466px;
          margin: 0 auto;
          background: #FFFFFF;
          -webkit-box-shadow: 0px 28px 44px rgba(61, 81, 107, 0.256966);
          box-shadow: 0px 28px 44px rgba(61, 81, 107, 0.256966);
          border-radius: 20px;
          overflow: hidden;
          &__top{
            display: flex;
            justify-content: center;
            padding: 42px 15px 31px;
            align-items: flex-start;
            flex-wrap: wrap;
            .user-data{
              display: flex;
              &:first-child{
                margin-right: 27px;
              }
              &__icon{
                padding-top: 7px;
                margin-right: 10.5px;
                svg{
                  width: 38px;
                  height: auto;
                }
              }
              &__text{
                .numb{
                  margin-bottom: -3px;
                  white-space: nowrap;
                  font-weight: 700;
                  font-size: 46px;
                  line-height: 54px;
                  color: #4892F3;
                  width: 112px;
                }
                p{
                  line-height: 22px;
                  letter-spacing: 0.171429px;
                }
              }
            }
          }
          &__bottom{
            .progress{
              position: relative;
              height: 40px;
              background-color: #E1E3E8;
              &.active{
                .progress__bar{
                  width: 100%;
                }
              }
              &__bar{
                transition: all 7.5s ease;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 0;
                background-color:#4892F3;
              }
            }
          }
        }
      }
      &__desc{
        .text{
          color: rgba(149, 156, 170, 0.7);
          margin-bottom: 5px;
        }
        .text-new{
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          margin-bottom: 5px;
          span{
            font-size: 12px;
            opacity: .7;
          }
        }
        .text2{

          color: #040404;
        }
      }
      &__group{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        &.gender{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          label{
            width: 100%;
          }
          .form__radio{
            width: max-content;
          }
        }
        label{
          margin-bottom: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #1D1D1F;
          span{
            color: red;
          }
          div{
            display: inline;
          }
        }
        &.has-error{
          input,textarea{
            border: 1px solid #EB5757;
          }
        }
        input{
          border: 1px solid #E6EAEE;
          border-radius: 50px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #1D1D1F;
          width: 100%;
          max-width: 350px;
          height: 50px;
          padding: 0 20px;
          transition: all .3s ease;
          &.error{
            border: 1px solid red;
          }
          &:hover{
            border: 1px solid #BDBDBD;
          }
          &:focus{
            border: 1px solid #1D1D1F;
          }
        }
        textarea{
          border: 1px solid #E6EAEE;
          border-radius: 30px;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          color: #1D1D1F;
          width: 100%;
          height: 150px;
          padding: 0 20px;
          resize: none;
          transition: all .3s ease;
          &:hover{
            border: 1px solid #BDBDBD;
          }
          &:focus{
            border: 1px solid #1D1D1F;
          }
        }
      }
      &__groupsTWO{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .form__group{
          width: 50%;
          padding: 0 15px;
          margin-bottom: 30px;
        }
      }
      &__radio{
        margin-right: 36px;
        .radio {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin: 10px 0 0 7px;
        }
        .radio + label {
          position: relative;
          padding: 0 0 0 30px;
          cursor: pointer;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #1D1D1F;
        }
        .radio + label:before {
          content: '';
          position: absolute;
          top: -3px;
          left: 0;
          width: 25px;
          height: 25px;
          border: 1px solid #E6EAEE;
          border-radius: 50%;
          background: #FFF;
        }
        .radio:checked + label:before {
          border: 5px solid #4892F3;
        }
      }
      hr{
        display: block;
        width: 100%;
        height: 1px;
        background: #E6EAEE;
        margin-bottom: 30px;
      }
      &__groupsTREE{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -17.5px;
        .form__group{
          width: 33.3333%;
          padding: 0 17.5px;
          margin-bottom: 30px;
        }
      }
      &__checkInfo{
        border-top: 1px solid #E6EAEE;
        padding: 30px 0 60px;
        .checkbox {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin: 10px 0 0 20px;
        }
        .checkbox + label {
          position: relative;
          padding: 0 0 0 70px;
          cursor: pointer;
          font-style: normal;
          font-weight: 300;
          font-size: 11px;
          line-height: 20px;
          color: #1D1D1F;
          display: block;

          span.mob,div.mob{
            display: none;
          }

          a{
            text-decoration: underline;
            color: #1D1D1F;
          }
        }
        .checkbox.error + label:before{
          border: 1px solid red;
        }
        .checkbox + label:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border: 1px solid #E6EAEE;
          transition: .3s;
        }
        .checkbox + label:after {
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          width: 20px;
          height: 20px;
          background-image: url(../img/checked.svg);
          transition: .3s;
        }
        .checkbox:checked + label:before {
          border: 1px solid #4892F3;
          background: #4892F3;
        }
      }
      &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .black{
          display: flex;
          align-items: center;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #828282;
          svg{
            margin-right: 5px;
          }
        }
        button,.button{
          background: #4892F3;
          border-radius: 50px;
          padding: 21px 58px;
          font-style: normal;
          font-weight: 900;
          font-size: 14px;
          line-height: 121.69%;
          text-align: center;
          color: #FFFFFF;
          cursor: pointer;
          text-transform: uppercase;
          &[disable=disable]{
            opacity: .6;
            cursor: default;
          }
          &.greyyy{
            background-color: #E7ECEC;
            color: #828282;
          }
        }
      }
    }
    .box-next-offers{
      padding: 65px 0;
      a,.href{
        cursor: pointer;
        background: #4892F3;
        border-radius: 20px;
        padding: 37px;
        max-width: 390px;
        display: block;
        margin: 0 auto;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 121.69%;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}
.offers{
  padding-top: 160px;
  .container{
    position: relative;
  }
  &__header{
    position: relative;
    margin-bottom: 43px;
    padding: 11px 185px 24px 37px;
    background-color: #FFFFFF;
    border-radius: 20px;
    &-top{
      margin-bottom: -3px;
      font-weight: 700;
      font-size: 21px;
      line-height: 30px;
      text-transform: uppercase;
      span{
        display: inline-block;
        vertical-align: middle;
        &:last-child {
          margin-left: 26px;
          font-weight: 700;
          font-size: 70px;
          line-height: 83px;
          text-transform: uppercase;
          color: #4892F3;
        }
      }
      small{
        color: #4892F3;
      }
      b {
        display: none;
      }
    }
    &-bottom{
      line-height: 18px;
      letter-spacing: 0.171429px;
      span {
        font-weight: 700;
      }
    }
  }
  &__list{
    h2{
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 22px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
    }
    ul{
      li{
        height: 118px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 20px;
        transition: all 0.3s ease-out;
        .offers-pic {
          width: 130px;
           img {
            display: block;
            max-width: 100%;
          }
        }
        .offers-money {
          width: 150px;
          text-align: center;
          font-weight: 500;
          div:first-child {
            margin-bottom: 10px;
            line-height: 20px;
            letter-spacing: 0.171429px;
            color: #959CAA;
          }
          div:last-child {
            font-size: 30px;
            line-height: 36px;
            text-transform: uppercase;
            small {
              display: none;
            }
          }
        }
        .offers-chance {
          width: 107px;
          text-align: center;
          div:first-child {
            line-height: 20px;
            letter-spacing: 0.171429px;
            color: #959CAA;
          }
          div:last-child {
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            text-transform: uppercase;
            color: #4892F3;
          }
        }
      }
    }
    .offers-btn{
      text-align: center;
      .btn_white{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 228px;
        height: 58px;
        padding: 12px 15px 10px;
        border-radius: 60px;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        background-color: #FFFFFF;
        color: #959CAA;
        cursor: pointer;
      }
    }
  }
}
.actual-info{
  display: none;
  &.active{
    display: block;
  }
}

@media screen and (max-width: 1200px){
  .loan__form .form__card{
    .card-front {
      margin: 0 0 -171px;
    }
    .card-back {
      margin-left: 120px;
    }
  }
}
@media screen and (max-width: 1024px){
  .loan__steps{
    padding-left: 75px;
  }
  .loan__form .form__groupsTREE .form__group{
    width: 50%;
  }
  .offers__list ul li{
    padding: 24px 20px 20px;
  }
  .offers__header-top {
    line-height: 24px;
    span:last-child{
      margin-left: 10px;
      font-size: 50px;
      line-height: 60px;
    }
  }
}
@media screen and (max-width: 576px) {
  .nomain .header{
    padding-top: 30px;

    &.scroll{
      background: #257DF0;
    }
  }
  .nomain .white{
    color: #fff;
  }
  .header__menu.menu{
    display: none;
  }
  .loan{
    background: url(../img/main/mob_bg.jpg) no-repeat center;
    background-position: top left;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 50px;

    .loan__timer{
      position: relative;
      top: 0;
      width: 100%;
      border-radius: 7px;
      display: flex;

      & .time{
        width: 50%;
        order: 2;
        background: transparent;
      }

      & .info{
        order: 1;
        width: 50%;
        background: transparent;
        
        & .text{
          color: #000;
          margin-bottom: 0;
        }

        & p{
          font-size: 14px;
          line-height: 150%;
          color: #2B2C49;
          opacity: 0.6;
        }
      }
    }

    & .loan__steps{
      padding-left: 0;
    }

    & .loan__steps-list{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
      border-radius: 7px;
      padding: 17px 23px 23px 23px;
      height: auto;

      & .mob_title{
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 15px;
      }

      & ul{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;

        & li.line{
          width: 100%;
          height: 2px;

          &.active{
            width: 100%;
            background: #4892F3;
            position: relative;

            & .svgWrapp{
              position: absolute;
              top: -5px;
              left: calc(50% - 10px);
              width: 20px;
              height: 20px;
              background: #fff;
              display: flex;
              justify-content: center;

              & svg {
                display: block;
              }
            }
          }
        }

        & li:not(.line){
          border-radius: 0;
          color: #2B2C49;
          opacity: .6;
          border-radius: 10px;

          &.active{
            background: #fff;
            color: #4892F3;
            opacity: 1;
            
          }

          &:after{
            width: 100%;
            height: 100%;
            background: transparent;
            border-color: #4892F3;
            border-radius: 0;
            border-radius: 10px;
          }
        }
      }
    }

    & .loan__form{
      border-radius: 7px;
      margin-top: 25px;
      padding: 25px 24px;

      & label{
        color: #2B2C49;
      }

      & hr{
        display: none;
      }

      & .form__groupsTWO.select{
        & label {
          z-index: 11;
        }

        & .jq-selectbox__select {
          border-radius: 7px;

          & .jq-selectbox__trigger-arrow{
            width: 5px;
            height: 5px;
            border: solid black;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
      }

      & .form__groupsTWO,
      & .form__groupsTREE{
        display: flex;
        flex-direction: column;
        margin: 0;
      

        & .form__group.gender{
          display: flex;
          padding-left: 0;
          width: 100%;
          margin-bottom: 15px;

          & label.genderLabel{
            width: auto;
            order: 3;
            color: #2B2C49;
            margin-left: 10px;
            margin-top: 7px;
            color: #808192;
          }

          & .form__radio {
            margin-right: 15px;

            & .radio + label:before{
              border-radius: 5px;
            }

            & .radio:checked + label:before{
              background: #4892F3;
              color: #fff;
            }

            & label {
              &.male {
                &:before{
                  content: 'М';
                }
              }

              &.female {
                &:before {
                  content: 'Ж';
                }
              }

              div {
                display: none;
              }

              &:before {
                color: #808192;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0;
                width: 37px;
                height: 37px;
              }
            }
          }
        }

        & .form__group.factic{
          & .form__radio{
            width: 50px;
            height: 37px;
          }

          & label.yes:before{
            content: 'Да';
            width: 50px;
          }

          & label.no:before {
            content: 'Нет';
            width: 50px;
          }
        }

        & .form__group:not(.gender){
          width: 100%;
          position: relative;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 20px;

          & label{
            color: #808192;
            position: absolute;
            background: #fff;
            left: 17px;
            top: -5px;
            padding-left: 5px;
            padding-right: 5px;
          }

          & input {
            width: 100%;
            max-width: 100%;
            border-radius: 7px;
            color: #2B2C49;
            opacity: 1;

            &::placeholder{
              color: #808192;
              opacity: 0.4;
            }
          }
        }
      }

      & .form__checkInfo{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        border: 0;
        padding-top: 0;

        & .checkbox + label:before{
          width: 26px;
          height: 26px;
          border-radius: 7px;
        }
        & .checkbox + label:after{
          left: 5px;
          top: 5px;
          width: 16px;
          height: 16px;
          background-size: 100%;
          border-radius: 7px;
        }

        & label{
          font-size: 14px;
          color: #808192;
          padding-left: 0;
          
          & a,
          & p{
            font-size: 14px;
            color: #808192;
            text-decoration: none;
          }

          & p span.desc{
            display: none;
          }

          & p span.mob{
            display: inline;
          }
          
          & div.mob{
            display: block;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 14px;
            line-height: 150%;
            color: #808192;
            padding-left: 40px;
          }
        }
      }

      & .black {
        border: 1.5px solid rgba(37, 125, 240, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        min-height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 7px;
        margin-right: 20px;

        & svg{
          height: 17px;
          width: 20px;

          & path{
            fill: rgba(72, 146, 243, 0.5);
          }
        }

        & span {
          display: none;
        }
      }

      & .button{
        border-radius: 7px;
        height: 50px;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & #step-5{
        & h2 {
          font-size: 20px;
          color: #2B2C49;
        }

        & .form {
          .text-new span {
            font-size: 16px;
          }

          & .box-next-offers{
            padding-top: 40px;
            padding-bottom: 17px;
            width: 100%;
            max-width: 100%;

            & #btnStep5{
              width: 100%;
              max-width: 100%;
              border-radius: 7px;
              padding-left: 50px;
              padding-right: 50px;
            }
          }

          & .mob_desc {
            display: flex;
            justify-content: center;
            color: #808192;
            margin-bottom: 40px;
          }

          & .form__footer a{
            width: 135px;
            color: #2B2C49;

            & svg{
              margin-right: 15px;
            }
          }
        }
      }
    }

    & .step__name{
      display: none;
    }
  }
  .footer.nomain {
    background: #fff;
    padding-top: 30px;

    & .footer__body{
      margin: 0;
    }

    & .bottom__img{
      display: none;
    }
  }

  // 
  .callBack{
    background: url(../img/main/mob_bg.jpg) no-repeat center;
    background-position: top left;
    background-size: cover;
    padding-top: 114px;
    padding-bottom: 30px;

    & .callBack__form{
      border-radius: 7px;
      padding: 25px;

      & p {
        font-size: 16px;
        line-height: 150%;
        color: #808192;
      }

      & .form__group{
        position: relative;
        margin-bottom: 15px;
      }

      & label {
        color: #808192;
        position: absolute;
        background: #fff;
        left: 17px;
        top: -5px;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 2;
      }

      & textarea{
        padding-top: 15px;
      }
      
      & input,
      & textarea {
        width: 100%;
        max-width: 100%;
        border-radius: 7px;
        color: #2B2C49;
        opacity: 1;
        position: relative;

        &::placeholder {
          color: #808192;
          opacity: 0.4;
        }
      }

      & .form__footer{
        & .black {
          border: 1.5px solid rgba(37, 125, 240, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          min-height: 50px;
          width: 50px;
          min-width: 50px;
          border-radius: 7px;
          margin-right: 20px;

          & svg {
            height: 17px;
            width: 20px;

            & path {
              fill: rgba(72, 146, 243, 0.5);
            }
          }

          & span {
            display: none;
          }
        }
        & button {
          border-radius: 7px;
          height: 50px;
          width: 100%;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 0;
          font-weight: 500;
          font-size: 17px;
        }
      }
    }
  }
  // offers
  .offers{
    padding-top: 0;

    & .offers-first{
      padding-top: 114px;
      padding-bottom: 30px;
      background: url(../img/main/mob_bg.jpg) no-repeat center;
      background-position: top left;
      background-size: cover;

      & .offers__header{
        margin-bottom: 0;
        border-radius: 7px;
        padding: 25px;
        display: flex;
        flex-direction: column;

        & .offers__header-top{
          display: flex;
          flex-direction: column;

          & span:not(.number){
            font-weight: bold;
            font-size: 20px;
            line-height: 150%;
            color: #2B2C49;
            text-transform: none;

            & br{
              display: none;
            }
          }

          & span.number{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 135px;
            color: #fff;
            background: #4892F3;
            border-radius: 5px;
            margin-left: 0;
            margin-top: 18px;
            margin-bottom: 28px;
            font-weight: bold;
            font-size: 80px;
          }
        }

        & .offers__header-bottom {
          font-size: 14px;
          color: #2B2C49;

          span {
            font-weight: 500;
            font-size: 14px;
            color: #2B2C49;
            margin-top: 20px;
            display: block;
          }
        }
      }
    }

    .container.second{
      background: #fff;
      padding-bottom: 15px;
    }

    .offers__content{
      padding-top: 40px;

      & .offers__list{
        h2{
          display: none;
        }

        & ul {
          & li{
            border-radius: 7px;
            border: 1.5px solid rgba(0, 0, 0, 0.05);
            display: flex;
            flex-wrap: wrap;
            height: auto;
            padding: 33px 28px;

            & .offers-pic {
              width: 100%;
              margin-bottom: 20px;
              display: flex;
              justify-self: start;

              & img{
                max-height: 56px;
                width: auto;
              }
            }

            & .offers-money{
              width: 50%;
              text-align: left;

              & div:first-child{
                font-size: 14px;
                color: #808192;
                margin-bottom: 0px;
              }

              & div:last-child{
                font-size: 26px;
                color: #2B2C49;
              }
            }

            & .offers-chance{
              width: 50%;
              text-align: left;

              & div:first-child {
                font-size: 14px;
                color: #808192;
                margin-bottom: 0px;
              }

              & div:last-child {
                font-size: 26px;
                line-height: 36px;
              }
            }

            & a{
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 7px;
              margin-top: 20px;
              font-weight: 500;
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  .nomain{
    & .footer {
      & .bottom__body h1 {
        margin-top: 0;
      }
    }
  }
}