@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}
.white{
	color: #fff;
}
.black{
	color: #373737;
}
html,
body {
	height: 100%;
	min-width: 120px;
}

body {
	line-height: 1;
	font-family: "Roboto";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
@media (max-width: 1024px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		/*padding: 0 5px;*/
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 17px 73px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	border-radius: 35px;
	background: #4892f3;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 479.98px) {
	.btn {
		padding: 10px 33px;
	}
}
.btn:hover {
	-webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn.fw {
	width: 100%;
}

@-webkit-keyframes btn-hover {
	0% {
		background: #dfde75;
	}
	50% {
		background: #4892f3;
	}
	100% {
		background: #f66f6f;
	}
}

@keyframes btn-hover {
	0% {
		background: #dfde75;
	}
	50% {
		background: #4892f3;
	}
	100% {
		background: #f66f6f;
	}
}
.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.header {
	padding: 43px 10px 0px 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__row .header__logo .header__img{
	display: flex;
	align-items: center;
}
.header__row .header__logo .header__img .icon{
	padding: 15px 10px;
	border-radius: 10px;
	background: linear-gradient(225deg, #FFFFFF 0%, rgba(228, 196, 115, 0) 100%);
	margin-right: 7px;
}
.header__row .header__logo .header__img .icon.icon_mob{
	display: none;
}
.header__row .header__logo .header__img .text{
	display: flex;
	flex-direction: column;
}
.header__row .header__logo .header__img .text .white{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.header__row .header__logo .header__img .text .black{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #373737;
}
.header.scroll {
	position: fixed;
	top: 0;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, right top, from(#dfde75), to(#f66f6f));
	background-image: -o-linear-gradient(left, #dfde75 0%, #f66f6f 100%);
	background-image: linear-gradient(90deg, #dfde75 0%, #f66f6f 100%);
	z-index: 5;
	padding: 20px 10px;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	font-size: 0;
}
.menu__link {
	position: relative;
	color: #1d1d1f;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin: 0px 18px 0px 0px;
}
.menu__link:hover {
	text-decoration: underline;
}
.menu__phone {
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: normal;
	margin: 0px 28px 0px 0px;
	position: relative;
	display: flex;
	align-items: center;
}
.menu__phone svg{
	margin-left: 6px;
}
.footer {
	background-image: -webkit-gradient(linear, left top, right top, from(#ede06d), to(#f66f6f));
	background-image: -o-linear-gradient(left, #ede06d 0%, #f66f6f 100%);
	background-image: linear-gradient(90deg, #ede06d 0%, #f66f6f 100%);
	padding: 98px 0px 60px 0px;
	position: relative;
}
.footer .bottom .bottom__body br {
	display: none;
}
.footer .mob_text,
.footer .item_head_mob{
	display: none;
}
.footer__img .img_desc{
	position: absolute;
	right: 0;
	top: 250px;
}
.footer__img .img_mob{
	display: none;
}
.footer__header-block {
	max-width: 540px;
	margin: 0 auto 70px;
}
.footer__header-block .cf {
	color: #ffffff;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0 -38px;
}
.footer .header-block__title .desc{
	color: #fff;
}
@media (max-width: 767.98px) {
	.footer__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.footer__body {
	text-align: center;
	margin: 11px 0px 0px 0px;
}
.footer__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	padding: 0 38px;
}
@media (max-width: 767.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}
@media (max-width: 767.98px) {
	.footer__item {
		margin: 0px 0px 20px 0px;
	}
}
.footer__txt1 {
	text-align: left;
	max-width: 217px;
	margin: 0px 0px 19px 0px;
}
@media (max-width: 767.98px) {
	.footer__txt1 {
		margin: 0px auto 19px auto;
	}
}
.footer__txt1 span {
	color: #1d1d1f;
	font-size: 21px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin: 0px 0px 5px 0px;
}
.footer__txt1 p, .footer__txt1 .w {
	color: #ffffff;
	font-size: 21px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.footer__txt2 {
	text-align: left;
	max-width: 196px;
}
@media (max-width: 767.98px) {
	.footer__txt2 {
		margin: 0px auto 0px auto;
	}
}
.footer__txt2 span {
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.footer__txt2 p {
	color: #1d1d1f;
	font-size: 10px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.application__block {
	margin: 0 0 0 auto;
}
@media (max-width: 767.98px) {
	.application__block {
		margin: 0 auto 0 auto;
	}
}
.bottom {
	margin: 95px 0px 0px 0px;
}
.bottom__body {
	text-align: left;
}
.bottom__body h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	margin: 0px 0px 24px 0px;
}
.bottom__body p {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	color: #1D1D1F;
}
.bottom__body span,.bottom__body a {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}
.nomain .bottom__body span,.nomain .bottom__body a {
	color: #4892F3;
}
.bottom__row {
	margin: 18px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.bottom__column {
	margin: 0px 34px 0px 0px;
}
@media (max-width: 991.98px) {
	.bottom__item {
		margin: 20px 0px 0px 0px;
	}
}
.bottom__item p {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #1D1D1F;
	max-width: 360px;
}
.bottom__item a {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	margin: 0px 34px 0px 0px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.bottom__item a:hover {
	color: #000000;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.bottom__item img {
	margin: 0px 23px 0px 0px;
	cursor: pointer;
}
.bottom__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.bottom .botm {
	margin-top: 17px;
}
.bottom__btn,a.bottom__btn {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
	color: #FFFFFF;
	background: #4892F3;
	border-radius: 25.775px;
	padding: 6.5px 18px;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	text-decoration: none;
}
.bottom__btn:hover {
	background-color: #fff;
	color: #000000;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.bottom__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.bottom__list li {
	margin: 0px 20px 10px 0px;
}
.bottom__link {
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.bottom__link:hover {
	color: #000000;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.bottom__end {
	margin: 48px 0px 0px 0px;
}
.main {
	background-image: -webkit-gradient(linear, left top, right top, from(#dfde75), to(#f66f6f));
	background-image: -o-linear-gradient(left, #dfde75 0%, #f66f6f 100%);
	background-image: linear-gradient(90deg, #dfde75 0%, #f66f6f 100%);
	padding: 177px 0px 0px 0px;
}
.main__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	padding-bottom: 140px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 1024px) {
	.main__body {
		padding: 0 20px;
	}
}
@media (max-width: 991.98px) {
	.main__body {
		padding: 0;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media (max-width: 600px) {
	.main__body {
		display: block;
		text-align: center;
	}
}
.main__text {
	padding: 41px 0px 0px 0px;
}
@media (max-width: 991.98px) {
	.main__text {
		padding: 85px 0px 0px 0px;
	}
}
@media (max-width: 600px) {
	.main__text {
		padding: 20px 0px 30px 0px;
	}
}
.main__title {
	color: #ffffff;
	font-size: 81px;
	line-height: 77px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	width: 100%;
}
@media (max-width: 600px) {
	.main__title {
		margin: 0 auto;
	}
}
.main__subtitle {
	color: #1d1d1f;
	font-size: 31px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: 36px;
	margin: 13px 0px 0px 0px;
	max-width: 234px;
}
@media (max-width: 600px) {
	.main__subtitle {
		margin: 0 auto;
	}
}
.main__img img.img__desc {
	max-width: 100%;
	position: absolute;
	right: 100%;
}
.main__img img.img__mob{
	display: none;
}
.main__application{
	position: relative;
}
@media (max-width: 1200px) {
	.main__img img {
		width: 320px;
	}
}
@media (max-width: 1023px) {
	.main__img img.img__desc {
		display: none;
	}
	.main__application{
		margin: 0!important;
	}
	.footer__img .img_desc{
		display: none!important;
	}
}
@media (max-width: 991.98px) {
	.main__application {
		margin: 0 auto;
		padding: 30px 0;
	}
}
.application {
	text-align: center;
}
@media (max-width: 479.98px) {
	.application {
		width: 100%;
	}
}
.application__block {
	border-radius: 25px;
	background-color: #ffffff;
	padding: 44px 43px 44px 43px;
	max-width: 420px;
}
@media (max-width: 600px) {
	.application__block.mr {
		margin: 0 auto;
	}
}
.application__title {
	color: #000000;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application__title span {
	color: #4892f3;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application__calc {
	margin: 34px 0px 16px 0px;
}
.application .slider-cnt {
	position: relative;
	width: 264px;
}
.application__bar {
	position: absolute;
	z-index: 1;
	left: 1px;
	top: 18px;
	width: 100%;
	height: 8px;
	border-radius: 15px;
	background-color: #e1e3e8;
	overflow: hidden;
}
.application__fill {
	display: block;
	width: 0;
	height: 100%;
	background: #4892f3;
	border-radius: 15px;
}
.application__bar1 {
	position: absolute;
	z-index: 1;
	left: 1px;
	top: 18px;
	width: 100%;
	height: 8px;
	border-radius: 15px;
	background-color: #e1e3e8;
	overflow: hidden;
}
.application__fill1 {
	display: block;
	width: 0;
	height: 100%;
	background: #4892f3;
	border-radius: 15px;
}
.application__inp {
	width: 264px;
	height: 8px;
	-webkit-appearance: none;
	background-color: transparent;
	border-radius: 15px;
	outline: none;
	margin: 18px 0px 16px 0px;
	position: relative;
	z-index: 2;
}
.application__inp::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border: 4px solid #4892f3;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	-webkit-box-shadow: 0 0 0 2px #fff;
	        box-shadow: 0 0 0 2px #fff;
}
.application__min {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.application__min p {
	color: #bdbdbd;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application__sum {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.application__value {
	text-align: left;
}
.application__value span {
	color: #000000;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application__back p {
	color: #828282;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application #value {
	text-align: left;
	color: #4892f3;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application #value:after {
	content: "₽";
}
.application #val1 {
	text-align: left;
	color: #4892f3;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application #val1:after {
	content: "₽";
}
.application #value1 {
	text-align: left;
	color: #4892f3;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application #value1:after {
	content: "₽";
}
.application #val2 {
	text-align: left;
	color: #4892f3;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.application #val2:after {
	content: "₽";
}
.application__minititle {
	color: #bdbdbd;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	margin: 9px 0px 0px 0px;
}

.money {
	padding: 132px 0;
}
.money .money_mob{
	display: none;
}
.money_column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0 73px;
}
@media (max-width: 991.98px) {
	.money_column {
		padding: 0 53px;
	}
}
@media (max-width: 767.98px) {
	.money_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		margin: 0px 0px 60px 0px;
	}
	.money_column:last-child {
		margin: 0;
	}
}
.money__header-block {
	max-width: 405px;
	margin: 0 auto;
}
.money__body {
	text-align: center;
	margin: 65px 0px 0px 0px;
}
.money__body.view .a1 {
	opacity: 1;
	z-index: 1;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.money__body.view .a2 {
	opacity: 1;
	z-index: 1;
	-webkit-transition: all 0.3s ease 1s;
	-o-transition: all 0.3s ease 1s;
	transition: all 0.3s ease 1s;
}
.money__body.view .a3 {
	opacity: 1;
	z-index: 1;
	-webkit-transition: all 0.3s ease 2s;
	-o-transition: all 0.3s ease 2s;
	transition: all 0.3s ease 2s;
}
.money__body.view .money__row:after {
	opacity: 1;
	z-index: -1;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1s ease 1.5s;
	-o-transition: all 1s ease 1.5s;
	transition: all 1s ease 1.5s;
}
@media (max-width: 767.98px) {
	.money__body.view .money__row:after {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.money__body.view .a1:after {
	opacity: 1;
	z-index: -1;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1s ease 1.5s;
	-o-transition: all 1s ease 1.5s;
	transition: all 1s ease 1.5s;
}
@media (max-width: 767.98px) {
	.money__body.view .a1:after {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.money .a1 {
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	position: relative;
}
@media (max-width: 767.98px) {
	.money .a1:after {
		content: "";
		position: absolute;
		bottom: 92px;
		left: 160px;
		width: 596px;
		height: 2px;
		background: url("../img/money/money_vector.jpg") 0 0 no-repeat;
		z-index: -1;
		opacity: 0;
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
}
@media (max-width: 767.98px) and (max-width: 991.98px) {
	.money .a1:after {
		bottom: -160px;
		left: -227px;
		width: 390px;
	}
}
@media (max-width: 767.98px) and (max-width: 767.98px) {
	.money .a1:after {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.money .a2 {
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	position: relative;
}
.money .a3 {
	opacity: 0;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	position: relative;
}
.money__row {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 -73px;
	position: relative;
}
.money__row.money_mob{
	display: none;
}
@media (max-width: 991.98px) {
	.money__row {
		margin: 0 -53px;
	}
}
@media (max-width: 767.98px) {
	.money__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
@media (max-width: 767.98px) {
	.money__row {
		position: static;
	}
}
.money__row:after {
	content: "";
	position: absolute;
	bottom: 110px;
	left: 160px;
	width: 596px;
	height: 2px;
	background: url("../img/money/money_vector.jpg") 0 0 no-repeat;
	z-index: -1;
	opacity: 0;
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media (max-width: 991.98px) {
	.money__row:after {
		bottom: 92px;
		left: 140px;
		width: 530px;
	}
}
@media (max-width: 767.98px) {
	.money__row:after {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		position: relative;
		top: -100px;
		left: -25px;
		width: 380px;
	}
}
@media (max-width: 767.98px) {
	.money__row:after {
		display: none;
	}
}
.money__item {
	text-align: center;
	max-width: 250px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
	.money__item {
		margin: 0 auto;
	}
}
.money__item:before {
	content: "";
	position: absolute;
	bottom: -50px;
	left: 5%;
	width: 90%;
	height: 20px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	z-index: -1;
	-webkit-filter: blur(10px);
	        filter: blur(10px);
	opacity: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.money__number {
	margin: 33px 0;
	background-color: #4892f3;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.money__number span {
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.money__icon {
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.money__icon img{
	width: 80px;
}
@media (max-width: 767.98px) {
	.money__number {
		position: absolute;
		left: -50px;
		top: 50px;
	}
}
.money__text {
	color: #1d1d1f;
	font-size: 21px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
}
.money__text span {
	color: #4892f3;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	display: block;
}
@media (max-width: 767.98px) {
	.money__text {
		margin: 15px 0px 0px 0px;
	}
}
.header-block {
	text-align: center;
}
.header-block__title {
	color: #5f5f77;
	font-size: 51px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: 54px;
}
.header-block__title span {
	color: #4892f3;
	font-size: 51px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 54px;
}

@media (max-width: 767.98px) {
	.header-block__title{
		font-size: 32px;
		line-height: 34px;
	}
	.header-block__title span{
		font-size: 32px;
		line-height: 34px;
	}
}
.why-we {
	padding: 132px 0 135px;
	background-color: #F7F8F8;
}
@media (max-width: 767.98px) {
	.why-we {
		padding: 40px 0px 64px 0px;
	}
}
.why-we_column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0 50px;
}
@media (max-width: 991.98px) {
	.why-we_column {
		padding: 0 25px;
	}
}
@media (max-width: 767.98px) {
	.why-we_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		margin: 0px 0px 60px 0px;
	}
	.why-we_column:last-child {
		margin: 0;
	}
}
.why-we__subtitle {
	color: #1d1d1f;
	font-size: 24px;
	line-height: 40px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	max-width: 752px;
	margin: 30px auto 75px auto;
}
@media (max-width: 767.98px) {
	.why-we__subtitle {
		margin: 20px auto 35px auto;
	}
}
.why-we__body {
	text-align: center;
}
.why-we__row {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 -50px;
}
.why-we__mob{
	display: none;
}
@media (max-width: 991.98px) {
	.why-we__row {
		margin: 0 -25px;
	}
}
@media (max-width: 767.98px) {
	.why-we__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.why-we__item {
	text-align: center;
	max-width: 240px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
	.why-we__item {
		margin: 0 auto;
	}
}
.why-we__item:before {
	content: "";
	position: absolute;
	bottom: -50px;
	left: 5%;
	width: 90%;
	height: 20px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	z-index: -1;
	-webkit-filter: blur(10px);
	        filter: blur(10px);
	opacity: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.why-we__item:hover {
	transform: translate3d(0px, -10px, 0px);
	-webkit-transform: translate3d(0px, -10px, 0px);
	-ms-transform: translate3d(0px, -10px, 0px);
	-o-transform: translate3d(0px, -10px, 0px);
	-moz-transform: translate3d(0px, -10px, 0px);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.why-we__item:hover:before {
	opacity: 1;
}
.why-we__icon {
	height: 71px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 0px 32px 0px;
}
.why-we__icon img{
	width: 85px;
}
.why-we__text {
	color: #1d1d1f;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
}
.why-we__text span {
	color: #4892f3;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
}

.pay {
	padding: 130px 0 140px;
}
@media (max-width: 767.98px) {
	.pay {
		padding: 70px 0px 50px 0px;
	}
}
.pay__body {
	text-align: center;
}
.pay__header-block{
	margin-bottom: 90px;
}
.pay__icon img{
	width: 125px;
}
.pay__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 728px;
	margin: 48px auto 48px auto;
}
.pay__item {
	cursor: pointer;
}
.service {
	padding: 130px 0 140px;
	background: rgba(247, 248, 248, 0.9);
}
.service_column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333%;
	        flex: 0 0 33.333%;
	padding: 0 15px;
}
@media (max-width: 991.98px) {
	.service_column {
		padding: 0 19px;
	}
}
@media (max-width: 620px) {
	.service_column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		margin: 0px 0px 40px 0px;
	}
	.service_column:last-child {
		margin: 0;
	}
}
.service__subtitle {
	color: #1d1d1f;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	max-width: 650px;
	margin: 60px auto;
}
.service__body {
	text-align: center;
}
.service__row {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 -38px;
}
@media (max-width: 991.98px) {
	.service__row {
		margin: 0 -19px;
	}
}
@media (max-width: 767.98px) {
	.service__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.service__item {
	width: 166px;
	padding: 25px;
	background-color: #f1f4f6;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.service__item:hover {
	-webkit-box-shadow: -19px 8px 50px rgba(0, 0, 0, 0.1);
	        box-shadow: -19px 8px 50px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.service__number {
	color: #4892f3;
	font-size: 28px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin: 0px 0px 16px 0px;
}
.service__text {
	color: #1d1d1f;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.review {
	padding: 104px 0px 114px 0px;
}
.review .cont_mob{
	display: none;
}
@media (max-width: 991.98px) {
	.review {
		padding: 104px 0px 0px 0px;
	}
}
.review_column {
	padding: 100px 20px;
}
@media (max-width: 991.98px) {
	.review_column {
		padding: 100px 20px;
	}
}
.review__subtitle {
	color: #1d1d1f;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	max-width: 568px;
	margin: 59px auto 98px auto;
}
@media (max-width: 991.98px) {
	.review__subtitle {
		margin: 59px auto 0px auto;
	}
}
.review__body {
	text-align: center;
}
.review__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: -100px -20px;
}
@media (max-width: 991.98px) {
	.review__row {
		margin: 0 -20px;
	}
}
.review__row .slick-center > .review__item {
	background-color: #ffffff;
	-webkit-box-shadow: 0 23px 95px rgba(0, 0, 0, 0.31);
	        box-shadow: 0 23px 95px rgba(0, 0, 0, 0.31);
}
.review__t1 {
	color: #1d1d1f;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin: 0px 0px 3px 0px;
}
.review__t2 {
	color: #828282;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
.review__item {
	padding: 31px 0px 21px 40px;
	background-color: #e6eaee;
	border-radius: 5px;
	max-width: 308px;
	text-align: left;
	cursor: pointer;
	margin: 0 auto;
}
.review__item .slick-center {
	background-color: #ffffff;
	-webkit-box-shadow: 0 23px 95px rgba(0, 0, 0, 0.31);
	        box-shadow: 0 23px 95px rgba(0, 0, 0, 0.31);
}
.review__dots {
	margin: 18px 0px 0px 0px;
	position: relative;
	z-index: 10;
}
@media (max-width: 991.98px) {
	.review__dots {
		top: -100px;
	}
}
.review__dots .slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.review__dots .slick-dots li {
	list-style: none;
	margin: 0 5px;
}
.review__dots .slick-dots li button {
	font-size: 0;
	width: 11px;
	height: 11px;
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.review__dots .slick-dots li.slick-active button {
	background-color: #fff;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.question {
	padding: 113px 0px 149px 0px;
	background-color: #F7F8F9;
}
.question .container{
	max-width: 900px;
}
@media (max-width: 767.98px) {
	.question {
		padding: 55px 0px 50px 0px;
	}
}
.question__header-block {
	margin: 0px 0px 69px 0px;
	max-width: 450px;
	text-align: left;
}
.spollers__item {
	position: relative;
	margin-bottom: 45px;
}
.spollers__title {
	display: inline-block;
	color: #1d1d1f;
	font-size: 29px;
	font-weight: 900;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}
@media (max-width: 767.98px) {
	.spollers__title {
		margin: 0px 0px 20px 0px;
		font-size: 20px;
	}
}
.spollers__title span {
	cursor: pointer;
}
.spollers__title:after {
	content: "";
	position: absolute;
	right: 0;
	top: 7px;
	width: 15px;
	height: 2px;
	cursor: pointer;
	text-align: center;
	background-color: green;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.spollers__title:before {
	content: "";
	position: absolute;
	right: 6px;
	top: 0px;
	width: 2px;
	height: 15px;
	cursor: pointer;
	text-align: center;
	background-color: green;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.spollers__title.active::before {
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.spollers__text {
	display: none;
	max-width: 546px;
	color: #828282;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	margin: 20px 0px 27px 0px;
}
@media (max-width: 767.98px) {
	.spollers__text {
		margin: 10px 0px 20px 0px;
	}
}
@media screen and (max-width: 576px) {
	.main{
		background: url(../img/main/mob_bg.jpg) no-repeat center;
		background-position: top left;
		background-size: cover;
	}
	.header.scroll{
		background: #257DF0;
	}
	.header__menu.menu {
		display: none;
	}
	.main__text{
		padding: 0;
		text-align: left;
	}
	.main__img img.img__mob{
		display: block;
		position: absolute;
		top: -268px;
		right: -20px;
	}
	.application__block{
		max-width: 100%;
		position: relative;
		z-index: 2;
		padding: 25px 22px 30px 22px;
	}
	.application__inp::-webkit-slider-thumb {
		width: 21px;
		height: 21px;
		border: 4px solid rgba(196, 221, 255, 0.8);
		background: #4892F3;
	}
	.main__application{
		padding-bottom: 80px;
	}
	.application__value span,
	.application__back p {
		color: #2B2C49;
		opacity: .6;
	}
	.application .slider-cnt,
	.application__inp {
		width: 100%;
	}
	.application #val1,
	.application #val2{
		text-align: right;
		color: #2B2C49;
		margin-top: 5px;
	}
	.application #value,
	.application #value1{
		color: #2B2C49;
		margin-top: 5px;
	}
	.main .btn,
	.footer .btn{
		border-radius: 7px;
		width: 100%;
	}
	.main__text .main__title{
		font-size: 50px;
		line-height: 105%;
		position: relative;
		z-index: 2;
	}
	.main__text .main__title:after{
		content: '';
		width: 110px;
		height: 110px;
		border-radius: 50%;
		background: #2172DD;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}
	.main__text .main__subtitle{
		text-align: left;
		margin: 0;
		padding-top: 30px;
		padding-bottom: 15px;
		font-size: 18px;
		opacity: .6;
		color: #fff;
		font-weight: 400;
		line-height: 150%;
		width: 140px;
	}
	.header__row .header__logo .header__img .icon{
		background: #2172DD;
		padding: 12px 10px;
	}
	.header__row .header__logo .header__img .icon.icon_desc{
		display: none;
	}
	.header__row .header__logo .header__img .icon.icon_mob{
		display: flex;
	}
	/*  */
	.money{
		padding: 50px 0;
	}
	.money__header-block{
		max-width: 100%;
		text-align: left;
		color: #2B2C49;
	}
	.money__header-block .header-block__title,
	.money__header-block .header-block__title span{
		color: #2B2C49;
		font-style: normal;
		font-weight: 800;
		font-size: 35px;
		line-height: 110%;
	}
	.money__body{
		margin-top: 40px;
	}
	.money__row.money_desc{
		display: none;
	}
	.money__row2.money_mob{
		display: flex;
	}
	.money__row2.money_mob .icons{
		display: flex;
		flex-direction: column;
	}
	.money__row2.money_mob .icons .icon{
		width: 40px;
		height: 40px;
		background: rgba(37,125,240,.1);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		margin-bottom: 25px;
		position: relative;
		z-index: 2;
	}
	.money__row2.money_mob .icons .icon:nth-child(2):after{
		content: '';
		position: absolute;
		/* bottom: 0; */
		height: 90px;
		width: 2px;
		z-index: -1;
		background: #EAF2FE;
	}
	.money__row2.money_mob .icons .icon:last-child{
		margin-bottom: 0;
	}
	.money__row2.money_mob .items{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-left: 25px;
	}
	.money__row2.money_mob .items p{
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 150%;
	}
	.money__row2.money_mob .items p > span{
		color: #BBBCD3;
	}
	/*  */
	.why-we{
		background: #EDF4FF;
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.why-we .header-block__title,
	.why-we .header-block__title span.textColor{
		text-align: left;
		color: #2B2C49;
	}
	.why-we__subtitle{
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #474969;
		text-align: left;
		position: relative;
		padding-left: 23px;
	}
	.why-we__subtitle:before{
		content: '';
		height: 100%;
		width: 3px;
		background: #3989F2;
		position: absolute;
		left: 0;
		right: 0;
	}
	.why-we__subtitle span{
		font-weight: 600;
	}
	.why-we__row{
		display: none;
	}
	.why-we__mob{
		display: flex;
		flex-direction: column;
	}
	.why-we__mob .card{
		background: #fff;
		border-radius: 7px;
		padding: 12px 8px;
		display: flex;
		margin-bottom: 10px;
	}
	.why-we__mob .card .text{
		margin-left: 19px;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.why-we__mob .card .text span{
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		color: #2B2C49;
	}
	.why-we__mob .card .text p{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 140%;
		color: rgba(23, 24, 40, 0.7);
		margin-top: 5px;
	}
	/*  */
	.pay .header-block__title p{
		display: inline;
	}
	.pay__row{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.pay .pay__icon{
		height: 67px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(0,0,0,.1);
		border-radius: 10px;
		padding: 20px 10px;
		margin-bottom: 15px;
		margin-right: 15px;
	}
	.pay .pay_column:nth-child(1) .pay__item .pay__icon img{
		height: 24px;
		width: 84px;
	}
	.pay .pay_column:nth-child(2) .pay__item .pay__icon{
		padding-left: 15px;padding-right: 15px;
	}
	.pay .pay_column:nth-child(2) .pay__item .pay__icon img{
		height: 39px;
		width: 51px;
	}
	.pay .pay_column:nth-child(3) .pay__item .pay__icon img{
		width: 70px;
		height: 22px;
	}
	.pay .pay_column:nth-child(4) .pay__item .pay__icon img {
		width: 78px;
		height: 35px;
	}
	.pay .pay_column:nth-child(5) .pay__item .pay__icon img {
		width: 81px;
		height: 61px;
	}
	.pay .btn{
		width: 100%;
		border-radius: 7px;
	}
	.service{
		padding-top: 50px;
		padding-bottom: 74px;
		background: #EDF4FF;
	}
	.service .service__header-block{
		display: flex;
		flex-direction: column;
	}
	.service .header-block__title{
		font-style: normal;
		font-weight: 800;
		font-size: 35px;
		line-height: 110%;
	}
	.service .service__body{
		order: 1;
		display: flex;
		flex-direction: column;
		margin-top: 25px;
	}
	.service .service__body .service__row{
		margin: 0;
		display: flex;
	}
	.service .service__body .service_column{
		background: #fff;
		border-radius: 7px;
		margin-bottom: 15px;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	.service .service__body .service_column .service__number{
		color: #2B2C49;
		position: relative;
		margin-bottom: 0;
		padding-bottom: 7px;
		margin-bottom: 7px;
	}
	.service .service__body .service_column .service__number:after{
		content: '';
		width: 90%;
		height: 3px;
		background: #4892F3;
		position: absolute;
		bottom: 0;
		left: 5%;
	}
	.service .service__body .service_column .service__text{
		color: #2B2C49;
		opacity: 0.8;
	}
	.service .service__body .service_column:nth-child(1){
		flex: calc(50% - 7.5px);
		margin-right: 7.5px;
	}
	.service .service__body .service_column:nth-child(2){
		order: 3;
	}
	.service .service__body .service_column:nth-child(3){
		flex: calc(50% - 7.5px);
		margin-left: 7.5px;
		order: 2;
	}
	.service .service__body .service_column:nth-child(3) .service__number p{
		display: inline;
	}
	.service .service__body .service_column:nth-child(3) span.desc{
		display: none;
	}
	.service .service__body .service_column:nth-child(3) .service__number p:after{
		content: ' млн.';
	}
	.service .service__body .service__item{
		background: transparent;
		width: auto;
		padding: 0;
	}
	.service .service__subtitle{
		order: 2;
		display: flex;
		flex-direction: column;
		margin: 0;
		background: #fff;
		border-radius: 7px;
		padding: 25px 19px 20px 19px;
	}
	.service .service__subtitle p{
		margin-bottom: 20px;
		color: #808192;
	}
	.service .service__subtitle p span{
		display: block;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		color: #2B2C49;
		opacity: 1;
	}
	.service .service__subtitle p span:after{
		content: '';
		height: 3px;
		background: #4892F3;
		width: 80px;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	/*  */
	.review{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.review .container.cont_desc{
		display: none;
	}
	.review .container.cont_mob{
		display: flex;
		flex-direction: column;
	}
	.review .container.cont_mob .customSlider{
		position: relative;
		margin-top: 25px;
	}
	.review .container.cont_mob .customSlider .item{
		border: 0.5px solid rgba(0, 0, 0, 0.05);
		border-radius: 7px;
		margin-right: 10px;
		margin-left: 10px;
		padding: 30px 22px 25px 22px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.review .container.cont_mob .customSlider .item .name h2{
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 110%;
		color: #2B2C49;
	}
	.review .container.cont_mob .customSlider .item .name span.date{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		opacity: .4;
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;
	}
	.review .container.cont_mob .customSlider .item .line{
		height: 3px;
		width: 125px;
		background: #4892F3;
		margin-bottom: 10px;
	}
	.review .container.cont_mob .customSlider .item .text p{
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		opacity: .8;
	}
	.review .slick-slider .slick-track{
		font-size: 20px;
	}
	.review .container.cont_mob .prev{
		position: absolute;
		left: -5px;
		top: calc(50% - 14px);
		height: 28px;
		width: 28px;
		z-index: 2;
		background: #F1F1F1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.review .container.cont_mob .next{
		position: absolute;
		right: -5px;
		top: calc(50% - 14px);
		height: 28px;
		width: 28px;
		z-index: 2;
		background: #F1F1F1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.review .container.cont_mob .dots{
		position: absolute;
		display: flex;
		width: 100%;
		bottom: -35px;
		justify-content: center;

	}
	.review .container.cont_mob .dots .slick-dots{
		display: flex;
	}
	.review .container.cont_mob .dots .slick-dots li{
		width: 16px;
		height: 16px;
		box-sizing: border-box;
		border: 1.5px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		background: #fff;
		margin-left: 5px;
		margin-right: 5px;
		transition: .5s;
	}
	.review .container.cont_mob .dots .slick-dots li.slick-active{
		background: #4892F3;
		border: 1px solid rgba(0, 0, 0, 0.05);
	}
	.review .container.cont_mob .dots .slick-dots li button{
		font-size: 0;
	}
	/*  */
	.question{
		background: #EDF4FF;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.question .spollers__item {
		background: #fff;
		margin-bottom: 10px;
		padding: 30px;
		border-radius: 7px;
	}
	.question .spollers__item .spollers__title{
		margin-bottom: 0;
	}
	.question .spollers__item .spollers__title:before{
		width: 10px;
		height: 2px;
		transform: rotate(45deg);
		top: 42px;
		right: 42px;
		background: #2B2C49;
	}
	.question .spollers__item .spollers__title:after{
		width: 10px;
		height: 2px;
		transform: rotate(-45deg);
		top: 42px;
		right: 36px;
		background: #2B2C49;
	}
	.question .spollers__text{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 150%;
		margin-top: 10px;
	}
	/*  */
	.footer{
		background: #fff;
		padding-top: 0;
	}
	.footer .header-block__title{
		display: flex;
		flex-direction: column;
		text-align: left;
		color: #fff;
		font-style: normal;
		font-weight: 800;
		font-size: 50px;
		line-height: 105%;
		position: relative;
		z-index: 2;
	}
	.footer .header-block__title:after {
		content: '';
		width: 110px;
		height: 110px;
		border-radius: 50%;
		background: #2172DD;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}
	.footer .header-block__title .desc{
		display: none;
	}
	.footer .header-block__title .textColor{
		color: #fff;
		font-style: normal;
		font-weight: 800;
		font-size: 50px;
		margin-top: 15px;
		display: block;
	}
	.footer .container_head{
		background: url(../img/footer/footer_bg.jpg) no-repeat center;
		background-position: center top;
		background-size: 100% 100%;
		padding-top: 75px;
		padding-bottom: 20px;
	}
	.footer .mob_text{
		display: flex;
		margin-top: 30px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 150%;
		color: #fff;
		width: 135px;
		text-align: left;
	}
	.footer .footer__column:nth-child(1) .footer__item{
		background: #f2f2f2;
		border-radius: 7px;
		padding: 24px 15px;
		position: relative;
		z-index: 2;
	}
	.footer .item_head_mob{
		display: block;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 150%;
		text-align: center;
		margin-bottom: 24px;
	}
	.footer .footer__column:nth-child(1) .footer__item .footer__txt1,
	.footer .footer__column:nth-child(1) .footer__item .footer__txt2{
		margin: 0;
		width: 100%;
		max-width: 100%;
		margin-bottom: 10px;
	}
	.footer .footer__column:nth-child(1) .footer__item .footer__txt1 span,
	.footer .footer__column:nth-child(1) .footer__item .footer__txt2 span{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 150%;
		color: #2B2C49;
		opacity: .6;
		display: block;
		margin-bottom: 0;
	}
	.footer .footer__column:nth-child(1) .footer__item .footer__txt1 p,
	.footer .footer__column:nth-child(1) .footer__item .footer__txt1 .w,
	.footer .footer__column:nth-child(1) .footer__item .footer__txt2 p{
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		color: #2B2C49;
		opacity: 1;
		margin-bottom: 0;
	}
	.footer .application__block{
		border-radius: 7px;
	}
	.footer__img .img_mob {
		display: flex;
		position: absolute;
		right: 0;
		top: 20px;
	}
	.footer .bottom{
		margin: 0;
	}
	.footer .bottom h1{
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 150%;
		color: #2B2C49;
		margin-top: 30px;
	}
	.footer .bottom .bottom__body p,
	.footer .bottom .bottom__body a{
		font-size: 14px;
		line-height: 150%;
		color: #2B2C49;
	}
	.footer .bottom .bottom__body br{
		display: block;
	}
	.footer .bottom .bottom__body .bottom__row{
		margin-top: 65px;
	}
	.footer .bottom .bottom__body .bottom__row .bottom__item{
		margin-top: 0;
		margin-bottom: 40px;
	}
	.footer .bottom .bottom__body .bottom__row .bottom__item .botm{
		display: none;
	}
	.footer .bottom .bottom__body .bottom__row .buttons{
		margin: 0;
		width: 100%;
	}
	.footer .bottom .bottom__body .bottom__row .buttons .bottom__item{
		display: flex;
		flex-direction: column;
	}
	.footer .bottom .bottom__body .bottom__row .buttons .bottom__item a{
		width: 100%;
		max-width: 100%;
		margin-right: 0;
		border-radius: 7px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}
	.footer .bottom .bottom__body .bottom__row .buttons .bottom__item a:nth-child(1){
		margin-bottom: 18px;
	}
	.footer .bottom .bottom__body .icons{
		display: none;
	}
	.footer .bottom__end{
		margin-top: 0;
	}
	.footer .bottom__end .bottom__list{
		display: flex;
	}
	.footer .bottom__end .bottom__list li{
		width: 100%;
	}
	.footer .bottom__end .bottom__list li:first-child{
		order: 3;
		display: flex;
		justify-content: center;
		margin-top: 60px;
	}
	.footer .bottom__end .bottom__list li:first-child a{
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		color: #2B2C49;
	}
	.footer .bottom__end .bottom__list li:not(:first-child) a{
		text-decoration: underline;
	}
}