
@font-face{

font-family: 'Wisdom script';

src: url('../fonts/WisdomScript.otf');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Wisdom script';

src: url('../fonts/WisdomScript.otf');

font-weight: normal;

font-style: normal;

}