@media screen and (min-width: 2100px){
	.section6 .works{
		grid-template-rows: 500px 500px;
	}
}
@media screen and (max-width: 2099px){
	.section6 .works{
		grid-template-rows: 440px 440px;
	}
}
@media screen and (max-width: 1850px){
	.section6 .works{
		grid-template-rows: 350px 350px;
	}
}
@media screen and (max-width: 1300px){
	.section6 .works{
		grid-template-rows: 300px 300px;
	}
}
@media screen and (max-width: 1100px){
	.section6 .works{
		grid-template-rows: 250px 250px;
	}
}
@media screen and (max-width: 992px){
	.section6 .works{
		grid-template-columns: 50% 50%;
		grid-template-rows: 375px 375px 375px;
	}
	.section6 .works. .specialItem{
		display: none;	
	}
}
@media screen and (max-width: 991px){
	.header .menu{
		background: rgba(0,0,0,.5);
		position: fixed;
	    right: 0;
	    top: 0;
	    height: 100vh;
	    z-index: 10;
	    padding: 0;
	    justify-content: space-around!important;
	    transform: translateX(100vw);
    	transition: 1s;
	}
	.header .menu.active{
		transform: translateX(0);
		width: 40vw;
	}
	.header .menu.active li.menu-item{
		width: 100%;
		font-size: 20px;
		text-align: center;
	}
	.section5 .imgWrap img{
		left: 5%;
	}
	.header .owl-carousel .item h1{
		font-size: 130px;
	}
	.header .owl-carousel .item h3{
		font-size: 60px;
	}
}
@media screen and (max-width: 767px){
	.header .owl-carousel .item h1{
		font-size: 90px;
		line-height: 90px;
	}
	.header .owl-carousel .item h3{
		font-size: 50px;
	}
	.section1 .aboutNumbers .number{
		border-left: 1px solid #B5EAE0;
	}
	.section3 .imgSec{
		display: none;
	}
}
@media screen and (max-width: 650px){
	.section6 .works{
		grid-template-rows: 300px;
	}
}
@media screen and (max-width: 576px){
	.header .navbarButton.active{
		transform: none;
	}
	.header .menu.active{
		width: 100vw;
	}
	.section4 .quotesContainer p{
		padding: 10px;
	}
	.section6 .review .owl-nav button.owl-next,
	.section6 .review .owl-nav button.owl-prev{
		display: none;
	}
}
@media screen and (max-width: 510px){
	.header .owl-carousel .item h1{
		font-size: 60px;
		line-height: 60px;
	}
	.header .owl-carousel .item h3{
		font-size: 35px;
	}
	.header .owl-dots .owl-dot h4 .title{
		display: none;
	}
	.header .owl-dots .owl-dot h4 span{
		margin: auto;
	}
	.section4 .tabs .leftTab{
		height: 200px;
	}
	.section4 .tabs{
		margin-top: 40px;
	}
	.section5 .imgWrap img{
		left: 0;
	}
	.section6 .works{
		grid-template-rows: 250px;
	}
}
@media screen and (max-width: 475px){
	.section3{
		height: 120vh;
	}
	.section3 .imgSec{
		display: block;
		left: 25vw;
	    bottom: 0;
	    width: 50vw;
	}
	.section3 .imgOneWrap{
		display: none;
	}
	.section4 .quotesContainer p{
		font-size: 20px;
	}
	.section5 .imgWrap img{
		left: -5%;
	}
	.section6 .works{
		grid-template-rows: 200px;
	}
	.section6 .review .item .textBlock p{
		font-size: 20px;
	}
}
@media screen and (max-width: 425px){
	.section7 .clientReview{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.section7 .rightPart .red-line{
		margin: 15px auto;
	}
	.section7 .leftPart .imgWrap{
		margin: auto;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 400px){
	.header .owl-carousel .item h1{
		font-size: 40px;
		line-height: 40px;
	}
	.header .owl-carousel .item h3{
		font-size: 25px;
	}
	.header .owl-dots{
		margin-top: 100px;
	}
	.header .line{
		margin: 50px auto;
	}
}
@media screen and (max-width: 375px){
	.section5 .imgWrap img{
		left: -20%;
	}
	.section6 .works{
		grid-template-rows: 180px;
	}
	.section8 .cardItem .cardHeader{
		height: 200px;
	}
}